<div class="list-div">
	<div class="content-select">
		<tr>
		<th colspan="6" align="right"><a href="__APP__/brandadmin/">添加品牌</a>&nbsp;&nbsp;&nbsp;<a href="__APP__/brandadmin/lists">品牌管理</a>&nbsp;&nbsp;&nbsp;<a href="__APP__/brandadmin/add">添加超值单品</a>&nbsp;&nbsp;&nbsp;<a href="__APP__/brandadmin/dplists">超值单品管理</a>&nbsp;&nbsp;&nbsp;<a href="__APP__/brandadmin/loginout">安全退出</a></th>
	</tr>
	</div>
</div>
<div class="list-div" style="margin-top:20px;">
	<div class="content-select">
		<tr>
			<td>总共发布：<{$count}></td>
			<td>已经通过：<{$tgCount}></td>
		</tr>
	</div>
</div>
<table style="width:80%;margin:auto;margin-top:20px;">
	
	<tr>
		<th style="width:15px;">ID</th>
		<th>名称</th>
		<th style="width:20px;">价格</th>
		<th>类别</th>
		<th>描述</th>
		<th>操作时间</th>
		<th>有效时间</th>
		<th>状态</th>
		<th style="width:120px;">操作</th>
	</tr>
	<{foreach ($models as $model)}>
		<tr>
			<td align="center"><{$model->id}></td>
			<td align="center" title="<{$model->name}>"><a href="<{$model->href}>" target="_blank"><{$model->name|truncate:'100'}></a></td>
			<td align="center"><{$model->price}></td>
			<td align="center"><{$model->jtClassName}></td>
			<td align="center" title="<{$model->info}>"><{$model->info|truncate:'10'}></td>
			<td align="center"><{$model->ltime|date_format:'Y-m-d'}></td>
			<td align="center"><{$model->time_end|date_format:'Y-m-d H:m:s'}></td>
			<td align="center"><{if ($model->state == 1)}>已通过<{else}>未通过<{/if}></td>
			<td align="center">
				<a href="__APP__/brandadmin/add?id=<{$model->id}>"><button>编辑</button></a>
			</td>
		</tr>
	<{/foreach}>
</table>
</div>

<{uc class="PageControlView" pageCore=$pageCore}>
<script>
function goPage(page) {
	window.location.href = '__APP__/brandadmin/dplists?page='+page;
}
</script>
