<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>登陆</title>
	
</head>
<script type="text/javascript" src="__RESOURCE__/js/jquery.js"></script>
<script type="text/javascript" src="__RESOURCE__/js/jquery.form.js"></script>
<body style="background:#ccc;">
<div style="width:100%">
	<form action="__APP__/brandadmin/login" method="post" style="margin:200px auto;width:250px;" onsubmit="return checkform()">
		<table>
			<tr>
				<td>账号：</td>
				<td><input name="username" class="username" type="text" value="用户名"/></td>
			</tr>
			<tr>
				<td>密码：</td>
				<td><input name="password" class="password" type="password"  value=""/></td>
			</tr>
			<tr>
				<td>
				</td>
				<td><button style="float:right;" type="submit">登陆</button></td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>
<script>
function checkform() {
	var	username = $('.username').val();
	var password = $('.password').val();
	if(username == '' || username == '用户名') {
		alert('请填写用户名');
		return false;
	}
	if(password == '') {
		alert('密码不能为空');
		return false;
	}
}
</script>