<{uc class="HeaderControlView" meta=$meta css="css" js="jquery,jquery.form" keyword=$keyword}>
<div class="box ">
    <div class="list_top">
        在1617个商家中，找到“<strong><{$keyword}></strong>”相关商品<{$pageCore->count}>件
    </div>
    <div class="list_l">
        <div class="list_nav">
            <h2>
                筛选分类
            </h2>
            <div class="list_nav_box">
				<{if (!empty($hostCategoryModels->children))}>
				<{foreach ($hostCategoryModels->children as $model)}>
                <ul>
                    <h2>
                        <a href="javascript:;" onclick="searchByCategory(<{$model->categoryid}>)"><{$model->name}></a>
                    </h2>
					<{foreach ($model->children as $m)}>
                    <li>
                        <a href="javascript:;" onclick="searchByCategory(<{$m->categoryid}>)"><{$m->name}></a>
                    </li>
                    <{/foreach}>
                </ul>
				<{/foreach}>
                <{/if}>
				<{if (!empty($categoryModels))}>
                <ul>
                    <h2>
                        <a href="javascript:;">
                            其他
                        </a>
                    </h2>
					<{foreach ($categoryModels as $model)}>
                    <li>
                        <a href="javascript:;" onclick="searchByCategory(<{$model->categoryid}>)"><{$model->name}></a>
                    </li>
                    <{/foreach}>
                </ul>
				<{/if}>
            </div>
        </div>
        <div class="list_l_mo">
            <h2>
                特别推荐
            </h2>
            <ul>
                <li>
                    <a href="javascript:;">
                        <img src="http://img02.taobaocdn.com/bao/uploaded/i2/13110029268468209/T2FcF2Xh4dXXXXXXXX_!!1104543110-0-p4pbp.jpg_270x270.jpg"
                        />
                        唐狮新品促销,极致羽绒服 促销中!
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="http://img04.taobaocdn.com/bao/uploaded/i4/12621030215384455/T25XRaXi8OXXXXXXXX_!!1104152621-0-p4pbp.jpg_270x270.jpg"
                        />
                        唐狮新品促销,极致羽绒服 促销中!
                    </a>
                </li>
            </ul>
        </div>
        <div class=" pp_rr2">
            <h2>
                浏览记录
            </h2>
            <ul>
                <li>
                    <a href="javascript:;">
                        <div>
                            <img src="__RESOURCE__/images/dp_a2.jpg" />
                        </div>
                        <div class="xl">
                            <span>
                                月销量：6438件
                            </span>
                        </div>
                        <h2>
                            CK Calvin Klein 卡文 克莱卡莱优淡香水
                        </h2>
                        <h3>
                            ￥179
                        </h3>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div>
                            <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1VjsSXbNXXXb1upjX.jpg"
                            />
                        </div>
                        <div class="xl">
                            <span>
                                月销量：6438件
                            </span>
                        </div>
                        <h2>
                            CK Calvin Klein 卡文 克莱卡莱优淡香水
                        </h2>
                        <h3>
                            ￥179
                        </h3>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div>
                            <img src="__RESOURCE__/images/dp_a2.jpg" />
                        </div>
                        <div class="xl">
                            <span>
                                月销量：6438件
                            </span>
                        </div>
                        <h2>
                            CK Calvin Klein 卡文 克莱卡莱优淡香水
                        </h2>
                        <h3>
                            ￥179
                        </h3>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div>
                            <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1VjsSXbNXXXb1upjX.jpg"
                            />
                        </div>
                        <div class="xl">
                            <span>
                                月销量：6438件
                            </span>
                        </div>
                        <h2>
                            CK Calvin Klein 卡文 克莱卡莱优淡香水
                        </h2>
                        <h3>
                            ￥179
                        </h3>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <div>
                            <img src="__RESOURCE__/images/dp_a2.jpg" />
                        </div>
                        <div class="xl">
                            <span>
                                月销量：6438件
                            </span>
                        </div>
                        <h2>
                            CK Calvin Klein 卡文 克莱卡莱优淡香水
                        </h2>
                        <h3>
                            ￥179
                        </h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="list_r">
		<{if (!empty($attrModels))}>
        <div class="tian_lei">
            <{foreach ($attrModels as $val)}>
			<ul>
                <li class="tian_lei_l">
                    <{$val->name}>：
                </li>
                <li class="tian_lei_r">
                    <a href="javascript:;">
                        全部
                    </a>
					<{foreach ($val->extend as $k => $v)}>
						<{if ($k < 18)}>
						<a href="javascript:;" onclick="searchByAttr('<{$val->attr}>','<{$val->stype}>','<{$v[1]}>')"><{$v[0]}></a>
						<{else}>
						<a href="javascript:;" onclick="searchByAttr('<{$val->attr}>','<{$val->stype}>','<{$v[1]}>')" class="js-extend-more" style="display:none;"><{$v[0]}></a>
						<{/if}>
                    <{/foreach}>
                </li>
                <li class="list_r_more">
                    <a href="javascript:;">
                        更多
                        <img src="__RESOURCE__/images/bn.gif" />
                    </a>
                </li>
            </ul>
			<{/foreach}>
        </div>
        <div class="list_r_minimo">
            <a href="javascript:;">
                更多
                <img src="__RESOURCE__/images/bn.gif" />
            </a>
        </div>
		<{/if}>
        <div class="list_r_menu">
            <div class="list_r_menu_l">
                <a href="javascript:;" class="<{if (!$sort or $sort=='default')}>open4<{/if}>" onclick="setSort('default')">默认</a>
                <a href="javascript:;" class="<{if ($sort=='sales')}>open4<{/if}>" onclick="setSort('sales')">销量</a>
                <a href="javascript:;" class="<{if ($sort=='createtime')}>open4<{/if}>" onclick="setSort('createtime')">最新</a>
                <a href="javascript:;" class="<{if ($sort=='price')}>open4<{/if}>" onclick="setSort('price')" >最低价</a>
            </div>
            <div class="list_r_menu_l list_r_menu_r">
                <ul>
                    <li class="list_nav_l">
                        <a href="javascript:;">
                        </a>
                    </li>
                    <li class="list_nav_r">
                        <a href="javascript:;" class="open4">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
		
        <div class="list_cont">
			<ul>
			<{foreach ($productModels as $key => $model)}>
                <li>
                    <div class="list_cont_tu">
                        <a href="javascript:;" title="<{$model->title}>">
                            <img src="<{$Host->StaticHost}>/<{$model->pic}>" />
                        </a>
                    </div>
                    <div class="list_cont_box">
                        <h2>
                            <a href="javascript:;" title="<{$model->title}>">
                                <{$model->lighttitle}>
                            </a>
                        </h2>
                        <div class="list_jg">
                            <div class="list_jg_l">
                                <h1>
                                    <font>￥</font>
                                    <{$model->price}>
                                </h1>
								<!--
                                <h2>
                                    ￥83.4
                                </h2>
								-->
                            </div>
							<!--
                            <div class="list_jg_r">
                                邮费：34元
                            </div>
                            <div class="list_jg_r">
                                上海
                            </div>
							-->
                        </div>
                        <div class="list_jg">
                            <div class="list_jg_l">
                                月销量
                                <strong>
                                    <{$model->sales}>
                                </strong>
                                件
                            </div>
                            <div class="list_jg_r">
								<!--
                                <a href="javascript:;">
                                    <img src="__RESOURCE__/images/bn.gif" />
                                    同款34件
                                </a>
								-->
                                <div class="list_fu" style="display:none;">
                                    <div class="jiee">
                                        <img src="__RESOURCE__/images/jiee.png" class="png" />
                                    </div>
                                    <ul>
                                        <li class="list_fu_tu">
                                            <a href="javascript:;">
                                                <img src="__RESOURCE__/images/dp_a.jpg" />
                                            </a>
                                        </li>
                                        <li class="list_fu_name">
                                            <h2>
                                                <a href="javascript:;">
                                                    唐狮新品促销,极致羽绒服促销中!
                                                </a>
                                            </h2>
                                            已售
                                            <strong>
                                                78
                                            </strong>
                                            件
                                        </li>
                                        <li class="list_fu_jg">
                                            <h2>
                                                <font>
                                                    ￥
                                                </font>
                                                145.00
                                            </h2>
                                            包邮
                                        </li>
                                        <li class="list_fu_logo">
                                            <h3>
                                                <a href="javascript:;">
                                                    <img src="__RESOURCE__/images/IMG_23.jpg" />
                                                </a>
                                            </h3>
                                            所在地：上海
                                        </li>
                                        <li class="list_fu_pnt">
                                            <a href="javascript:;">
                                                去购买
                                            </a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="list_fu_tu">
                                            <a href="javascript:;">
                                                <img src="__RESOURCE__/images/dp_a.jpg" />
                                            </a>
                                        </li>
                                        <li class="list_fu_name">
                                            <h2>
                                                <a href="javascript:;">
                                                    唐狮新品促销,极致羽绒服促销中!
                                                </a>
                                            </h2>
                                            已售
                                            <strong>
                                                78
                                            </strong>
                                            件
                                        </li>
                                        <li class="list_fu_jg">
                                            <h2>
                                                <font>
                                                    ￥
                                                </font>
                                                145.00
                                            </h2>
                                            包邮
                                        </li>
                                        <li class="list_fu_logo">
                                            <h3>
                                                <a href="javascript:;">
                                                    <img src="__RESOURCE__/images/IMG_23.jpg" />
                                                </a>
                                            </h3>
                                            所在地：上海
                                        </li>
                                        <li class="list_fu_pnt">
                                            <a href="javascript:;">
                                                去购买
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
				<{if (($key + 1) % 3 == 0)}>
					</ul>
					<ul>
				<{/if}>
			<{/foreach}>
			</ul>
        </div>
        <{uc class="PageControlView" pageCore="$pageCore"}>
        <div class="list_hot_tag">
            <div class="list_hot_tag_l">
                您是不是想找：
            </div>
            <div class="list_hot_tag_r">
                <a href="javascript:;">
                    中长款羽绒服
                </a>
                <a href="javascript:;">
                    波司登羽绒服
                </a>
                <a href="javascript:;">
                    厚外套修身
                </a>
                <a href="javascript:;">
                    儿童羽绒服
                </a>
                <a href="javascript:;">
                    大衣打底裤
                </a>
                <a href="javascript:;">
                    厚外套修身
                </a>
                <a href="javascript:;">
                    羽绒服女长款
                </a>
                <a href="javascript:;">
                    儿童羽绒服
                </a>
                <a href="javascript:;">
                    大衣打底裤
                </a>
                <a href="javascript:;">
                    厚外套修身
                </a>
            </div>
        </div>
        <div class="list_cont">
            <div class="cont_title">
                <h1>
                    相关热卖
                </h1>
                <h3>
                    <a href="javascript:;">
                        更多
                    </a>
                </h3>
            </div>
            <ul>
                <li>
                    <div class="list_cont_tu">
                        <a href="javascript:;">
                            <img src="http://img03.taobaocdn.com/imgextra/etao/i3/15987030451720138/T1GH3TXeXbXXXXXXXX_!!0-item_pic.jpg_b.jpg"
                            />
                        </a>
                    </div>
                    <div class="list_cont_box">
                        <h2>
                            <a href="javascript:;">
                                热卖可脱卸撞色两穿
                                <strong>
                                    羽绒服
                                </strong>
                            </a>
                        </h2>
                        <div class="list_jg">
                            <div class="list_jg_l">
                                <h1>
                                    <font>
                                        ￥
                                    </font>
                                    19.4
                                </h1>
                                <h2>
                                    ￥83.4
                                </h2>
                            </div>
                            <div class="list_jg_r">
                                邮费：34元
                            </div>
                            <div class="list_jg_r">
                                上海
                            </div>
                        </div>
                        <div class="list_jg">
                            <div class="list_jg_l">
                                月销量
                                <strong>
                                    7439
                                </strong>
                                件
                            </div>
                            <div class="list_jg_r">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="list_cont_tu">
                        <a href="javascript:;">
                            <img src="http://img03.taobaocdn.com/imgextra/etao/i3/11148018967158813/T1hN.EXi0aXXXXXXXX_!!0-item_pic.jpg_b.jpg"
                            />
                        </a>
                    </div>
                    <div class="list_cont_box">
                        <h2>
                            <a href="javascript:;">
                                热卖可脱卸撞色两穿
                                <strong>
                                    羽绒服
                                </strong>
                            </a>
                        </h2>
                        <div class="list_jg">
                            <div class="list_jg_l">
                                <h1>
                                    <font>
                                        ￥
                                    </font>
                                    19.4
                                </h1>
                                <h2>
                                    ￥83.4
                                </h2>
                            </div>
                            <div class="list_jg_r">
                                邮费：34元
                            </div>
                            <div class="list_jg_r">
                                上海
                            </div>
                        </div>
                        <div class="list_jg">
                            <div class="list_jg_l">
                                月销量
                                <strong>
                                    7439
                                </strong>
                                件
                            </div>
                            <div class="list_jg_r">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="list_cont_tu">
                        <a href="javascript:;">
                            <img src="http://img03.taobaocdn.com/imgextra/etao/i3/15987030451720138/T1GH3TXeXbXXXXXXXX_!!0-item_pic.jpg_b.jpg"
                            />
                        </a>
                    </div>
                    <div class="list_cont_box">
                        <h2>
                            <a href="javascript:;">
                                热卖可脱卸撞色两穿
                                <strong>
                                    羽绒服
                                </strong>
                            </a>
                        </h2>
                        <div class="list_jg">
                            <div class="list_jg_l">
                                <h1>
                                    <font>
                                        ￥
                                    </font>
                                    19.4
                                </h1>
                                <h2>
                                    ￥83.4
                                </h2>
                            </div>
                            <div class="list_jg_r">
                                邮费：34元
                            </div>
                            <div class="list_jg_r">
                                上海
                            </div>
                        </div>
                        <div class="list_jg">
                            <div class="list_jg_l">
                                月销量
                                <strong>
                                    7439
                                </strong>
                                件
                            </div>
                            <div class="list_jg_r">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="box ">
</div>
<form style="display:none" id="js-hide-form">
	<input name="keyword" value="<{echo urlencode($keyword)}>" />
	<input name="category" value="<{$category}>" />
	<input name="attr" value="<{echo urlencode($attr)}>" />
	<input name="sort" value="<{echo urlencode($sort)}>" />
	<input name="page" value="<{$pageCore->currentPage}>" />
	
</form>
<script>

function formTogo() {
	var formObj = $('#js-hide-form');
	var data = formObj.formToArray();
	var url = '__APP__/search__LIMIT__';
	for (var i in data) {
		var obj = data[i];
		if (!obj.value) {
			continue;
		}
		var pre = '';
		if (i !=0) {
			pre = '/';
		}
		url += pre + obj.name + '/' + obj.value;
	}
	window.location.href = url;
}

function setSort(str) {
	var formObj = $('#js-hide-form');
	formObj.find('input[name="page"]').val('');
	formObj.find('input[name="sort"]').val(str);
	formTogo();
}

function searchByCategory(id) {
	var formObj = $('#js-hide-form');
	formObj.find('input[name="page"]').val('');
	formObj.find('input[name="category"]').val(id);
	formTogo();
}

function searchByAttr(attr,type,val) {
	var formObj = $('#js-hide-form');
	var str = attr + '_' + type + '_' + val;
	str = encodeURIComponent(str);
	formObj.find('input[name="page"]').val('');
	formObj.find('input[name="attr"]').val(str);
	formTogo();
}

function goPage(page) {
	var formObj = $('#js-hide-form');
	formObj.find('input[name="page"]').val(page);
	formTogo();
}
</script>


<{uc class="FooterControlView"}>

