<{uc class="HeaderControlView" meta=$meta type=NavmenuModel::MENU_DB css="css" js="jquery,jquery.form"}>

<div class="box dp">

<div class="dp_box2">
<div class="dp_box2_l_b">
<div class="dp_box2_l end_box">
<ul>
<li class="dp_box2_l_title">
	<h1><a href="<{$goods->href}>" target="_blank"><{$goods->name}></a></h1>
	<h2><a onclick="hitsLog(1,<{$goods->id}>);return dpLog(<{$goods->id}>);" href="<{$goods->href}>" target="_blank"><{$goods->title}></a></h2>

</li>
<li class="dp_box2_l_l">
    <a href="<{$goods->href}>" title="<{$goods->name}>"><img src="<{$goods->pic|parsePicpath}>" /></a>
</li>
<li class="dp_box2_l_r">
<h3>
<span><img src="__RESOURCE__/images/tm.gif" /><{$goods->ctime|diffNow}>前更新</span>
<span><img src="__RESOURCE__/images/us.gif" /><a href="javascript:;" class="uss"><{$editorArr[$goods->id % (count($editorArr))]}></a>推荐</span>
<span><a href="javascript:;" title="喜欢" onclick="lovenum(this,<{$goods->id}>)"><img src="__RESOURCE__/images/love.gif" /><span><{$goods->lovenumber}></span></a></span>

<span id="fx_zi">
<h4 class="fx_box_nin" style="display:none;width:280px;" id="js-hover-share-<{$goods->id}>">
	<script type="text/javascript">
	(function(){
	var p = {
	url:location.href, /*获取URL，可加上来自分享到QQ标识，方便统计*/
	desc:'', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
	title:"<{$goods->name}>", /*分享标题(可选)*/
	summary:'', /*分享摘要(可选)*/
	pics:"<{if (!preg_match('/^http:\/\//',$goods->pic))}>http://www.quzhao.com/<{/if}><{$goods->pic}>", /*分享图片(可选)*/
	flash: '', /*视频地址(可选)*/
	site:'趣找实惠', /*分享来源(可选) 如：QQ分享*/
	style:'201',
	width:32,
	height:32
	};
	var s = [];
	for(var i in p){
	s.push(i + '=' + encodeURIComponent(p[i]||''));
	}
	document.write(['<a title="分享到QQ" href="http://connect.qq.com/widget/shareqq/index.html?',s.join('&'),'" target="_blank"><img src="__RESOURCE__/images/fc_03.gif " /></a>'].join(''));
	document.write(['<a title="分享到QQ空间" style="width:21px;height:20px;" version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank"><img src="__RESOURCE__/images/fc_07.gif " /></a>'].join(''));
	})();
	</script>
			
	<a class="jiathis_button_tsina" style="width:21px;height:20px;cursor:pointer;background:url('') no-repeat scroll 0 0px transparent !important;padding:0px;"><img src="__RESOURCE__/images/fc_05.gif " /></a>
	<a class="jiathis_button_kaixin001" style="width:21px;height:20px;cursor:pointer;background:url('') no-repeat scroll 0 0px transparent !important;padding:0px;"><img src="__RESOURCE__/images/fc_09.gif " /></a>
	<a title="分享到豆瓣网" href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e('<{$goods->name}>')+'&sel='+e(s)+'&v=1',x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()"><img src='__RESOURCE__/images/fc_11.gif' /></a>
</h4>
<a href="javascript:" onmouseover="showShare(<{$goods->id}>,'<{$goods->name}>','<{if (!preg_match('/^http:\/\//',$goods->pic))}>http://www.quzhao.com/<{/if}><{$goods->pic}>')" ><img src="__RESOURCE__/images/shr.gif" />分享</a>
</span>
</h3>

						
<div class="dp_box2_l_bt">
	<a onclick="hitsLog(1,<{$goods->id}>);return dpLog(<{$goods->id}>);" href="<{$goods->href}>" target="_blank">去购买</a>
</div>
<div class="listed">
<ul>
<li class="listed_l">来源商家</li>
<li><{if ($goods->fromName)}><{$goods->fromName}><{else}><{$fromSiteName}><{/if}></li>
</ul>

<!--<ul>
<li class="listed_l">商品编号</li>
<li>ER85787969</li>
</ul>-->

<ul>
<li class="listed_l">上架时间</li>
<li><{$goods->ctime|date_format:'Y-m-d'}></li>
</ul>

<!--<ul>
<li class="listed_l">接口</li>
<li>USB</li>
</ul>

<ul>
<li class="listed_l">工作方式</li>
<li>光电</li>
</ul>

<ul>
<li class="listed_l">颜色</li>
<li>黑色</li>
</ul>-->




</div>
<div class="mulist">推荐理由</div>
<h2><{$goods->info}></h2>

<div class="dp_box2_l_bt">

    <a href="<{$goods->href}>" target="_blank">去购买</a></div>

</li>
</ul>
<ul>
<li>
<!--评论 start-->
<div class="comt" id="js-comt"></div>
<!--评论 end-->
<div class="ress_box">
<div class="comt_l">
<img src="__RESOURCE__/images/tx.gif" />
</div>
<div class="comt_r">
<div class="comt_r_top">
<textarea name="message" cols="" rows="" class="ress" id="js-message" onkeyup="checkmsg()"></textarea>
</div>
<div style="margin-bottom:15px;" id="js-empty-message"></div>
<div class="ress_login_box">
<div class="ress_login_box_l" id="js-login">
<a href="javascript:;" onclick="showLoginDiv();"><strong>登录</strong></a>（没有趣找账户？<a href="javascript:;" onclick="showRegDiv();">注册</a>一个）
</div>
<div class="ress_login_box_r"><a href="javascript:;" onclick="message()">发布</a></div>
</div>
</div>

<div class="mulist">大家还看了</div>
<div class="ress_more">
<{if ($loveModel)}>
<{foreach ($loveModel as $val)}>
<div class="ress_more_li">
<p><a href="__APP__/dp/end__LIMIT__id/<{$val->id}>"><img src="<{$val->pic|parsePicpath}>" /></a></p>
<h3><a href="__APP__/dp/end__LIMIT__id/<{$val->id}>"><{$val->name}></a></h3>
<h4>￥<{$val->price}></h4>
<h2>
<span><a href="javascript:;" onclick="lovenum(this,<{$val->id}>)"><img src="__RESOURCE__/images/like.gif" /><{$val->lovenumber}></a></span><!--<span><a href="javascript:;"><img src="__RESOURCE__/images/see.gif" />3435</a></span>-->
</h2>
</div>
<{/foreach}>
<{/if}>

</div>


</div>
</li>
</ul>





</div>





</div>
<div class="pp_rr_box">
<div class=" pp_rr2">
<h2>猜你喜欢</h2>
<ul>
<{foreach ($tjModels as $v)}>
<li>
    <a href="__APP__/dp/end__LIMIT__/id/<{$v->id}>">
<div><img src="<{if (!preg_match('/^http:\/\//',$v->pic))}>/<{/if}><{$v->pic}>" /></div>
<!--<div class="xl"><span>月销量：6438件</span></div>-->
<h2><{$v->name}></h2>
<h3>￥<{$v->price}></h3></a>
</li>
<{/foreach}>

</ul>
</div>

</div>
</div>

</div>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
<script>
if(CurrentUserInfo){
	$('#js-login').hide();
}
var mouseObj = null;
function showShare(id,name,pic) {
	var divObj = $('#js-hover-share-' + id);
	jiathis_config = {
		title:name,
		pic:pic,
		siteName:'趣找实惠',
		appkey:{
			"tsina":"<{$sinaApp}>"
		}
	}
	divObj.show();
	divObj.parents('li').bind('mousemove',function(e){
		mouseObj = $(e.target);
	});
	setTimeout(function(){
		hideDiv(divObj);
	}, 1500);
}	

function hideDiv(obj) {
	var divId = obj.attr('id');
	if (!mouseObj.parents('#' + divId).length) {
		obj.fadeOut();
		obj.parents('li').unbind('mousemove');
	} else {
		setTimeout(function(){
			hideDiv(obj);
		}, 1500);
	}
}

function lovenum(obj,pid) {
	var num = $(obj).find('span').html();
	num = num ? parseInt(num) : 0;
	if (!CurrentUserInfo) {
		showLoginDiv();
	}
	var data = {pid:pid}
	var	url = '__AJAX__/love/index?stmp=' + new Date().toString();
	$.ajax({
		data:data,
		dataType:'json',
		type:'post',
		url:url,
		success:function(data){
			if(data.result) {
				var diff = parseInt(data.result);
				$(obj).find('span').html(num + data.result);
			}
		}
	});
}
function showComt(page) {
	//最后一页
	var isLastPage = 0;
	if (page === 0) {
		isLastPage = 1;
	}
	$.ajax({
		url:'__APP__/message/index?stmp=' + new Date().toString(),
		data:{pid:<{$id}>,page:page,isLastPage:isLastPage},
		success:function(html) {
			$('#js-comt').html(html);
		}
	})
}
function message() {
	if (!CurrentUserInfo) {
		showLoginDiv();
		return false;
	}
	var msg = $('#js-message').val();
	if(msg == '') {
		$('#js-empty-message').html('<font style="color:red">评论内容不能为空</font>');
		return false;
	}
	if(msg.length > 600) {
		$('#js-empty-message').html('<font style="color:red">评论内容600字以内</font>');
		return false;
	}
	var shareUserId = "<{$goods->userid}>";
	if(!shareUserId) {
		 shareUserId = '';
	}
	var data = {message:msg,pid:<{$id}>,shareUserId:shareUserId};
	url = '__AJAX__/message/add?stmp=' + new Date().toString();
	$.ajax({
		dataType:'json',
		type:'post',
		data:data,
		url:url,
		success:function(data){
			if(data.result) {
				$('#js-message').val('');
				showComt(0);
			}
			else if(data.error.code == 50001) {
				showLoginDiv();
				return false;
			}
			else if(data.error.code == 50002) {
				window.location.href="__APP__/user/preset";
			}
			
		}
	});
}
function checkmsg() {
	$('#js-empty-message').html('');
}
function cite(id) {
	if (!CurrentUserInfo) {
		showLoginDiv();
		return false;
	}
	var msg = $('#js-getMessage-'+id).html();
		msg = $.trim(msg);
	$('#js-message').val(msg);
}
</script>
<script>showComt();</script>
<{uc class="FooterControlView"}>