<{uc class="HeaderControlView" meta=$meta type=NavmenuModel::MENU_DB css="css" js="jquery,jquery.cookie"}>
<div class="box">
    <div  id="nav_left_layout">
<div class="mini_nav" >
<div class="mini_nav_box">
<h1>商品分类</h1>
<ul>

<{foreach ($modelCate as $val)}>
<li><a href="__APP__/dp__LIMIT__cid/<{$val->id}>" <{if ($cid == $val->id) }> style="background-color:#FFE8F4;" <{/if}>  class="mini_nav_box_<{$val->classid}>" ><span></span><{$val->name}></a></li>
<{/foreach}>  
</ul>
</div>
<div><img src="__RESOURCE__/images/l_nav_bt.png" class="png" width="100%"/></div>
</div>
</div>

<script src="__RESOURCE__/js/lx2.js"></script>
	<img src="__RESOURCE__/images/dp_banner.jpg" />
</div>
<div class="box dp">
	<div class="cont_title">
		<h1>超值单品<font>趣找帮您淘最值的网购正品</font></h1><!--<h2><a href="#" class="open2">全部</a><a href="#">装饰</a><a href="#">餐具</a><a href="#">厨具</a><a href="#">生活日用</a><a href="#">家居</a><a href="#">照相机</a></h2> -->
	</div>
	<div class="dp_box2">
	<{if ($models)}>
		<div class="dp_box2_l_b">
			<div class="dp_box2_l" id="js-index-content">
				
				<{foreach ($models as $model)}>
				<ul dataId="<{$model->id}>">
					<li class="dp_box2_l_title">
						<h1>
							<a onclick="hitsLog(1,<{$model->id}>);return dpLog(<{$model->id}>);" href="__APP__/dp/end__LIMIT__id/<{$model->id}>" target="_blank"><{$model->name|truncate:100}></a>
						</h1>
						<h2><a onclick="hitsLog(1,<{$model->id}>);return dpLog(<{$model->id}>);" href="<{$model->href}>" target="_blank"><{$model->title}></a></h2>
					</li>
					<li class="dp_box2_l_l">
						<a onclick="hitsLog(1,<{$model->id}>);return dpLog(<{$model->id}>);" href="__APP__/dp/end__LIMIT__id/<{$model->id}>" target="_blank"><img src="<{$model->pic|parsePicpath}>" /></a>
					</li>
					<li class="dp_box2_l_r"> 
						<h2 id="js-info-<{$model->id}>"><{$model->info|truncate:'400':'...'}></h2>
						<script>
							var html = $('#js-info-<{$model->id}>').html();
							var num = html.length;
							var ll = 5;
							var start = 0;
							var middle = num - ll;
							var preHtml = html.substr(0, middle);
							var lastHtml =  '<a onclick="hitsLog(1,<{$model->id}>);return dpLog(<{$model->id}>);" href="__APP__/dp/end__LIMIT__id/<{$model->id}>" target="_blank">' + html.substr(middle, num) + ' > </a>';
							var newHtml = preHtml + lastHtml;
							$('#js-info-<{$model->id}>').html(newHtml);
						</script>
						<h3> 
							<span><img src="__RESOURCE__/images/tm.gif" /><{$model->ctime|diffNow}>前更新</span>
							
							<span style=""><img src="__RESOURCE__/images/us.gif" /><a href="#" class="uss"><{$editorArr[$model->id % (count($editorArr))]}></a>推荐</span>
							<span style="display:none"><a href="javascript:;"><img src="__RESOURCE__/images/love.gif" />7434</a></span>
							
							<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
							<span id="fx_zi">
							<h4 class="fx_box_nin" style="display:none;" id="js-hover-share-<{$model->id}>">
								<script type="text/javascript">
								(function(){
								var p = {
								url:location.href+'/end__id/<{$model->id}>', /*获取URL，可加上来自分享到QQ标识，方便统计*/
								desc:'', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
								title:"<{$model->name}>", /*分享标题(可选)*/
								summary:'', /*分享摘要(可选)*/
								pics:"<{if (!preg_match('/^http:\/\//',$model->pic))}>http://www.quzhao.com/<{/if}><{$model->pic}>", /*分享图片(可选)*/
								flash: '', /*视频地址(可选)*/
								site:'趣找实惠', /*分享来源(可选) 如：QQ分享*/
								style:'201',
								width:32,
								height:32
								};
								var s = [];
								for(var i in p){
								s.push(i + '=' + encodeURIComponent(p[i]||''));
								}
								document.write(['<a title="分享到QQ" href="http://connect.qq.com/widget/shareqq/index.html?',s.join('&'),'" target="_blank"><img src="__RESOURCE__/images/fc_03.gif " /></a>'].join(''));
								document.write(['<a style="width:21px;height:20px;" title="分享到QQ空间" version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank"><img src="__RESOURCE__/images/fc_07.gif " /></a>'].join(''));
								})();
								</script>
								<a class="jiathis_button_tsina" style="margin:0;width:21px;height:20px;cursor:pointer;background:url('') no-repeat scroll 0 0px transparent !important;padding:0px;"><img src="__RESOURCE__/images/fc_05.gif " /></a>
								<a class="jiathis_button_kaixin001" style="margin:0;width:21px;height:20px;cursor:pointer;background:url('') no-repeat scroll 0 0px transparent !important;padding:0px;"><img src="__RESOURCE__/images/fc_09.gif " /></a>
								<a title="分享到豆瓣网" href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e('<{$model->name}>')+'&sel='+e(s)+'&v=1',x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()"><img src='__RESOURCE__/images/fc_11.gif' /></a>
							</h4>
							<a href="javascript:" onmouseover="showShare(<{$model->id}>,'<{$model->name}>','<{if (!preg_match('/^http:\/\//',$model->pic))}>http://www.quzhao.com/<{/if}><{$model->pic}>')" ><img src="__RESOURCE__/images/shr.gif" />分享</a>
							</span>
							
						</h3>
						<div class="dp_box2_l_bt">
							<a onclick="hitsLog(1,<{$model->id}>);return dpLog(<{$model->id}>);" href="<{$model->href}>" target="_blank">去购买</a>
						</div>
					</li>
				</ul>
				<{/foreach}>
			</div>
			<{uc class="PageControlView" pageCore="$pageCore" width="715px"}>
		</div>
		
		<div class="pp_rr_box">
		<div class=" pp_rr2">
		<h2>热门推荐</h2>
		<ul>
			<{foreach ($tjModels as $model1)}>
			<li>
				<a onclick="hitsLog(1,<{$model1->id}>);return dpLog(<{$model1->id}>);" href="__APP__/dp/end__LIMIT__id/<{$model1->id}>" target="_blank">
				<div><img src="<{if (!preg_match('/^http:\/\//',$model1->pic))}>/<{/if}><{$model1->pic}>" /></div>
				<!-- <div class="xl"><span>月销量：6438件</span></div> -->
				<h2><{$model1->name}></h2>
				<h3>￥<{$model1->price}></h3></a>
			</li>
			<{/foreach}>
		</ul>
		</div>
		<{if ($dpBrowseHistoryModels)}>
		<div class=" pp_rr2">
		
			<h2>浏览记录</h2>
			<{foreach ($dpBrowseHistoryModels as $model2)}>
			<ul>
				<li>
					<a href="__APP__/dp/end__LIMIT__id/<{$model2->id}>" target="_blank">
					<div><img src="<{if (!preg_match('/^http:\/\//',$model2->pic))}>/<{/if}><{$model2->pic}>" /></div>
					<!-- <div class="xl"><span>月销量：6438件</span></div> -->
					<h2><{$model2->name}></h2>
					<h3>￥<{$model2->price}></h3></a>
				</li>
			</ul>
			<{/foreach}>
			<div style="float:right;margin-bottom: 5px;"><a onclick="clearHistory()" style="color:#777777;" href="javascript:;">清空</a></div>
		
		</div>
		<{/if}>
		
		</div>
	</div>
<{else}>
	<div class="error_box">
		<div class="error_box_l">
			<img src="__RESOURCE__/images/error.gif">
		</div>
		<div class="error_box_r">
			<h2>很抱歉，没有找到有关分类的商品信息。</h2>
			<h3>建议您：</h3>
			<ul>
				<li>1. 查看输入是否有误</li>
				<li>2. 在更多分类中查找</li>
				<li>3. 调整关键词</li>
			</ul>
			<div class="error_box_r_pnt"><a href="/dp" onclick="">返回超值单品首页</a></div>
		</div>
	</div>
<{/if}>	
</div>
<script>

var jiathis_config = {};
function goPage(page) {
	window.location.href = '__APP__/dp__LIMIT__page/' + page;
}
var mouseObj = null;
function showShare(id,name,pic) {
	var divObj = $('#js-hover-share-' + id);
	jiathis_config = {
		title:name,
		pic:pic,
		url: location.href+'/end__id/'+id,
		siteName:'趣找实惠',
		appkey:{
			"tsina":"<{$sinaApp}>"
		}
	}
	
	divObj.show();
	divObj.parents('li').bind('mousemove',function(e){
		mouseObj = $(e.target);
	});
	setTimeout(function(){
		hideDiv(divObj);
	}, 1500);
}	

function hideDiv(obj) {
	var divId = obj.attr('id');
	if (!mouseObj.parents('#' + divId).length) {
		obj.fadeOut();
		obj.parents('li').unbind('mousemove');
	} else {
		setTimeout(function(){
			hideDiv(obj);
		}, 1500);
	}
}

</script>
<{uc class="FooterControlView"}>
