<html xmlns="http://www.w3.org/1999/xhtml"><head>

<link href="__RESOURCE__/css/css.css" rel="stylesheet" type="text/css">
<link href="__RESOURCE__/css/Register.css" rel="stylesheet" type="text/css">
<link href="__RESOURCE__/css/photo_fu.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="__RESOURCE__/css/jquery.jcrop.css" type="text/css" />
<script src="__RESOURCE__/js/jquery.js" type="text/javascript"></script>
<script src="/./www/resource/js/jquery.form.js" type="text/javascript"></script>
<script src="__RESOURCE__/js/jquery.jcrop.js" type="text/javascript"></script>

<div class="Register3_box photo_fu">
	<div class="photo_fu_top" style="overflow: hidden;">
		<{if (!empty($tmpImage))}>
			<img id="target" src="<{$tmpImage|parsePicpath}>" alt=""/>
		<{else}>
			<img id="target" src="__RESOURCE__/images/user_header.gif" alt="" />
		<{/if}>
	</div>
	<div class="photo_fu_bottom">
		<form method="post" action="" id="js-portrait-file-form" enctype="multipart/form-data">
			<a href="javascript:;" title="关闭" onclick="window.parent.$.mask.close()">
				<img src="__RESOURCE__/images/off_hui.gif" border="0">
			</a>
				<input id="js-portrait-file" type="file" name="file" style="
				filter: alpha(opacity=50);           -moz-opacity:0.5;           -khtml-opacity: 0.5;           
				opacity: 0;
				position: absolute;
				width: 70px;
				cursor: crosshair;
				z-index: 1;">
			<a href="javascript:;" title="从电脑上传头像">
			<img src="__RESOURCE__/images/compu.gif" width="33" height="33" border="0"></a>
			
			<a onclick="$('#js-portrait-coords').submit()" href="javascript:;" title="就他了"><img src="__RESOURCE__/images/ok.gif" border="0"></a>
		</form>
	</div>
</div>
<form action="" id="js-portrait-coords" style="display:none" method="post" onsubmit="return checkCoords(this)">
	<input type="hidden" id="x" name="x" />
	<input type="hidden" id="y" name="y" />
	<input type="hidden" id="w" name="w" />
	<input type="hidden" id="h" name="h" />
	<input type="hidden" id="js-head-value" name="head" value="<{if (!empty($tmpImage))}><{$tmpImage|parsePicpath}><{else}>__RESOURCE__/images/user_header.gif<{/if}>" />
	<input type="submit" value="裁剪" />
</form>
<script type="text/javascript">

setInterval(function(){
	var file = $('#js-portrait-file').val();
	if (file) {
		$('#js-portrait-file-form').submit();
	}
},200);

function checkCoords(obj) {
	
	if (!$('#js-head-value').val()) {
		alert('请先上传一张照片');
		return false;
	}
	if (!parseInt($('#w').val())) {
		alert('请选择裁剪区域，然后按提交.');
		return false;
	}
	var iw = $('#target').width();
	var ih = $('#target').height();
	$(obj).ajaxSubmit({
		url: '__AJAX__/user/uploadHead?stmp='+ new Date().toString(),
		type: 'post',
		dataType: 'json',
		data: {iw:iw,ih:ih},
		success: function(data) {
			if (data.result) {
				window.parent.location.href = window.parent.location.href + '?r=' + Math.random();
			}
			else {
				alert(data.result.message);
			}
		}
	});
	return false;
}

jQuery(function($){

  // Create variables (in this scope) to hold the API and image size
  var jcrop_api, boundx, boundy;
  
  $('#target').Jcrop({
	minSize: [48,48],
	setSelect: [0,0,190,190],
	onChange: updatePreview,
	onSelect: updatePreview,
	onSelect: updateCoords,
	aspectRatio: 1
  },
function(){
	// Use the API to get the real image size
	var bounds = this.getBounds();
	boundx = bounds[0];
	boundy = bounds[1];
	// Store the API in the jcrop_api variable
	jcrop_api = this;
});
function updateCoords(c)
{
	$('#x').val(c.x);
	$('#y').val(c.y);
	$('#w').val(c.w);
	$('#h').val(c.h);
};


function updatePreview(c){
	if (parseInt(c.w) > 0)
		{
			var rx = 48 / c.w;		//小头像预览Div的大小
			var ry = 48 / c.h;

			$('#preview').css({
				width: Math.round(rx * boundx) + 'px',
				height: Math.round(ry * boundy) + 'px',
				marginLeft: '-' + Math.round(rx * c.x) + 'px',
				marginTop: '-' + Math.round(ry * c.y) + 'px'
			});
		}
		{
			var rx = 199 / c.w;		//大头像预览Div的大小
			var ry = 199 / c.h;
			$('#preview2').css({
				width: Math.round(rx * boundx) + 'px',
				height: Math.round(ry * boundy) + 'px',
				marginLeft: '-' + Math.round(rx * c.x) + 'px',
				marginTop: '-' + Math.round(ry * c.y) + 'px'
			});
		}
	};
});
function popclose() {
	window.parent.$.mask.close();
}
</script>