<{uc class="HeaderControlView" meta=$meta type=NavmenuModel::MENU_NINE css="css" js="jquery"}>
<div class="box">
	<img src="__RESOURCE__/images/nine_banner.jpg" />
</div>
<script>
var data = [];
</script>
<div class="box">
	<div class="cont_title">
		<h1>9.9包邮<font>每天两场！11:00 秒杀正在进行</font></h1>
	</div>
	<div class="nine">
		<ul>
			<{foreach ($models as $model)}>
			<li class="js-share-li">
				<h2>
					<a href="<{$model->href}>" onclick="return hitsLog(1,<{$model->id}>)" id="fx_name "target="_blank"><{$model->name}></a>
				</h2>
				<div class="nine_tu">
					<a href="<{$model->href}>" onclick="return hitsLog(1,<{$model->id}>)" target="_blank" title="<{$model->name}>"> 
					<img src="<{if (!preg_match('/^http:\/\//',$model->pic))}>/<{/if}><{$model->pic}>" /></a>
				</div>
				<div class="nine_cont <{if ($model->state == HomeTjDataDataModel::STATE_EMPTY)}>hui<{/if}>">
					<h1><span>￥</span><{$model->price}></h1>
					<{if ($model->state == HomeTjDataDataModel::STATE_EMPTY or $model->time_end <= time())}>
						<div class="nine_cont_pnt"><a class="over" onclick="return hitsLog(1,<{$model->id}>)" target="_blank" href="<{$model->href}>">卖光了</a></div>
					<{else if($model->time_start > time())}>
						<div class="nine_cont_pnt"><a href="<{$model->href}>" onclick="return hitsLog(1,<{$model->id}>)" target="_blank" class="imm">即将开始</a></div>
					<{else}>
						<div class="nine_cont_pnt"><a href="<{$model->href}>" onclick="return hitsLog(1,<{$model->id}>)" target="_blank">去抢购</a></div>
					<{/if}>
					<h3>
						<span>原价：<{$model->sprice}>元</span>
						<span class="nine_cont_sale"><{if ((int)$model->sprice)}>折扣：<{$model->price / $model->sprice|numerRound:1}>折<{/if}></span>
						<span class="nine_cont_post">包邮</span>
					</h3>
					<{if ($model->state == HomeTjDataDataModel::STATE_EMPTY or $model->time_end <= time())}>
						<h3 class="zl">
						明天早点来
						</h3>
					<{else if($model->time_start > time())}>
						<h3>
							开始时间：<font><{$model->time_start|date_format:'Y年m月d日'}></font>
						</h3>
					<{else}>
						<h3 id="js-over-time-<{$model->id}>">
						所剩时间<span class="js-over-day"></span>天
						<script>
							var overTime = <{$model->time_end - time()}>;
							data.push({obj:$('#js-over-time-<{$model->id}>'),time:overTime});
						</script>
						</h3>
					<{/if}>
				</div>
				<div class="fx_box" onmouseover="showShare(<{$model->id}>,'<{$model->name}>','<{if (!preg_match('/^http:\/\//',$model->pic))}>http://www.quzhao.com/<{/if}><{$model->pic}>')">
					<a href="#"><img src="__RESOURCE__/images/shr.gif" />分享</a>
				</div>
				<div class="fx_box_nin" id="js-hover-share-<{$model->id}>" style="display:none;" >
				<h2>
					<script type="text/javascript">
						(function(){
						var p = {
						url:location.href, /*获取URL，可加上来自分享到QQ标识，方便统计*/
						desc:'', /*分享理由(风格应模拟用户对话),支持多分享语随机展现（使用|分隔）*/
						title:"<{$model->name}>", /*分享标题(可选)*/
						summary:'', /*分享摘要(可选)*/
						pics:"<{if (!preg_match('/^http:\/\//',$model->pic))}>http://www.quzhao.com/<{/if}><{$model->pic}>", /*分享图片(可选)*/
						flash: '', /*视频地址(可选)*/
						site:'趣找实惠', /*分享来源(可选) 如：QQ分享*/
						style:'201',
						width:32,
						height:32
						};
						var s = [];
						for(var i in p){
						s.push(i + '=' + encodeURIComponent(p[i]||''));
						}
						document.write(['<a title="分享到QQ" href="http://connect.qq.com/widget/shareqq/index.html?',s.join('&'),'" target="_blank"><img src="__RESOURCE__/images/fc_03.gif " /></a>'].join(''));
						document.write(['<a title="分享到QQ空间" version="1.0" class="qzOpenerDiv" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank"><img src="__RESOURCE__/images/fc_07.gif " /></a>'].join(''));
						})();
					</script>
					<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
					<a class="jiathis_button_tsina" style="cursor:pointer;background:url('') no-repeat scroll 0 0px transparent !important;padding:0px;"><img src="__RESOURCE__/images/fc_05.gif " /></a>
					<a class="jiathis_button_kaixin001" style="cursor:pointer;background:url('') no-repeat scroll 0 0px transparent !important;padding:0px;"><img src="__RESOURCE__/images/fc_09.gif " /></a>
					<a title="分享到豆瓣网"  href="javascript:void(function(){var d=document,e=encodeURIComponent,s1=window.getSelection,s2=d.getSelection,s3=d.selection,s=s1?s1():s2?s2():s3?s3.createRange().text:'',r='http://www.douban.com/recommend/?url='+e(d.location.href)+'&title='+e('<{$model->name}>')+'&sel='+e(s)+'&v=1',x=function(){if(!window.open(r,'douban','toolbar=0,resizable=1,scrollbars=yes,status=1,width=450,height=330'))location.href=r+'&r=1'};if(/Firefox/.test(navigator.userAgent)){setTimeout(x,0)}else{x()}})()"><img src='__RESOURCE__/images/fc_11.gif' /> </a>
				</h2>
				</div>
			</li>
			<{/foreach}>
		</ul>
	</div>
	<{uc class="PageControlView" pageCore="$pageCore" goPage="goPage"}>    
</div>
<{uc class="FooterControlView"}>
<script>
function goPage(page) {
	window.location.href = '__APP__/nine__LIMIT__page/' + page;
}
for (var i in data) {
	countdown(data[i].obj,data[i].time);
}
function countdown(obj,time) {
	if (time <= 0) {
		return;
	}
	var D = parseInt(time / 24 / 3600);
	var H,M,S;
	if (time <= 0) {
		return false;
	}
	else if (time < 60) {
		S = time;
	}
	else if (time < 3600) {
		M = parseInt(time / 60);
		S = time % 60;
	}
	else {
		H = parseInt((time % (24*3600)) / 3600);
		M = parseInt((time % 3600) / 60);
		S = time % 60;
	}
	H = padNum(H);
	M = padNum(M);
	S = padNum(S);
	timeStr = H + M + S;
	showTime(obj,timeStr,D)
	setTimeout(function(){
		countdown(obj,time - 1);
	},1000)
}

function padNum(num) {
	if (!num) {
		num = '00';
	}
	num = num.toString();
	if (num.length <= 1) {
		num = '0' + num;
	}
	return num;
}

function showTime(obj,str,D) {
	var html = '所剩时间'+D + '天';
	for (var i=0; i<6; i++) {
		var v = str.substr(i,1);
		html += '<strong>'+v+'</strong>';
	}
	obj.html(html);
}

var mouseObj = null;
function showShare(id,name,pic) {
	var divObj = $('#js-hover-share-' + id);
	jiathis_config = {
		title:name,
		pic:pic,
		siteName:'趣找实惠',
		appkey:{
			"tsina":"<{$sinaApp}>"
		}
	}
	divObj.show();
	divObj.parents('li').bind('mousemove',function(e){
		mouseObj = $(e.target);
	});
	setTimeout(function(){
		hideDiv(divObj);
	}, 1500);
}
function hideDiv(obj) {
	var divId = obj.attr('id');
	if (!mouseObj.parents('#' + divId).length) {
		obj.fadeOut();
		obj.parents('li').unbind('mousemove');
	} else {
		setTimeout(function(){
			hideDiv(obj);
		}, 1500);
	}
}
</script>
