<{include '__TEMPLATE__/header.html'}>
<form style="clear:both;" action="__APP__/homebrand/brand" method="post" enctype="multipart/form-data" onsubmit="return checkform()">
	<div class="add-div">
		<table>
	
		<input type="hidden" name="brandid" value="<{$model->id}>" />
			<tr>
				<td>输入名称选择品牌：</td>
				<td><input value="<{if (isset($model->bn_name))}><{$model->bn_name}><{/if}>" type="text" name="name" id="name" onkeyup="search(this.value)" />&nbsp;&nbsp;<span style="color:red" id="js-msg">*</span></td>
			</tr>
			<tr style="display:none;" id="js-add-name-hidden">
				<td colspan="2" align="center"><a href="__APP__/homebrand/brand2">去添加品牌</a></td>
			</tr>
			<tr style="display:none;" id="js-select-name-hidden">
				<td>选择品牌名称：</td>
				<td>
					<select name="brand_name_id" id="js-select-name">
					</select>&nbsp;&nbsp;<span style="color:red">*</span>
				</td>
			</tr>
			<tr>
				<td>来源URL：</td>
				<td><input value="<{if (isset($model->url))}><{$model->url}><{/if}>" type="text" name="url" id="url" />&nbsp;&nbsp;<span style="color:red">*</span></td>
			</tr>
			<tr>
				<td>最低折扣：</td>
				<td><input value="<{if (isset($model->rebate))}><{$model->rebate}><{/if}>" type="text" name="rebate" id="rebate" />&nbsp;&nbsp;<span style="color:red">*</span></td>
			</tr>
			
			<tr>
				<td>最高折扣：</td>
				<td><input value="<{if (isset($model->maxrebate))}><{$model->maxrebate}><{/if}>" type="text" name="maxrebate" id="maxrebate" />&nbsp;&nbsp;<span style="color:red">*</span></td>
			</tr>
			<tr>
				<td>推荐到首页：</td>
				<td><input type="radio" name="istj" value="0" checked="checked" />否<input type="radio"  name="istj" value="1" <{if ($model->istj == 1)}> checked <{/if}> />是&nbsp;&nbsp;<span style="color:red">*</span></td>
			</tr>
			<tr>
				<td>商家：</td>
				<td>
					<select name="merchantsId" id="merchants">
						<option value="">请选择商家</option>
						<{foreach ($sjModel as $val)}>	
							<option value="<{$val->id}>" <{if (isset($model->merchantsId))}> <{if ($model->merchantsId == $val->id)}> selected="selected" <{/if}><{/if}> ><{$val->name}></option>
						<{/foreach}>	
					</select>&nbsp;&nbsp;<span style="color:red">*</span>
				</td>
			</tr>
			
			<{if (!empty($model->image))}>
			<tr>
				<td>图片预览：</td>
				<td><img src="<{$model->image|parsePicpath}>" width="300" height="300" /></td>
			</tr>
			<{/if}>
			<tr>
				<td></td><td><button type="submit" name="btn_submit">确定</button></td>
			</tr>
		</table>
	</div>
</form>
<script>
function checkform() {
	var	name = $('#name').val();
	var	url = $('#url').val();
	var	rebate = $('#rebate').val();
	var	maxrebate = $('#maxrebate').val();
	var	merchants = $('#merchants').val();
	
	if(name == '') {
		alert('请选择品牌名称');
		return false;
	}
	if(url == '') {
		alert('来源URL不能为空');
		return false;
	}
	if(rebate == '') {
		alert('最低折扣不能为空');
		return false;
	}
	if(maxrebate == '') {
		alert('最高折扣不能为空');
		return false;
	}
	if(merchants == '') {
		alert('请选择商家');
		return false;
	}
}
function search(value) {
	if(value != ''){
		$.ajax({
			url: '__AJAX__/brand/getAll?stmp=' + new Date().toString(),
			type: 'post',
			data: {val:value},
			success: function(data) {
				var arr_data = $.parseJSON(data);
				var rs = '';
				if(arr_data.result != '') {
					var arr = arr_data.result;
					for (var i in arr) {
						var obj = arr[i];
						rs += "<option value="+obj.id+">"+obj.name+"</option>";
					}
					$('#js-select-name-hidden').show();
					$('#js-msg').hide();
					$('#js-add-name-hidden').hide();
					$('#js-select-name').html(rs);
				}else{
					$('#js-select-name-hidden').hide();
					$('#js-add-name-hidden').show();
					$('#js-msg').show();
				} 
			}
		});
	}	
}
</script>

<{include '__TEMPLATE__/footer.html'}>
