/*  photo_fu  */	

.photo_fu{ width:410px; padding:0px;}
.photo_fu_top{ background-color:#dfdfdf; width:100%; height:410px; text-align:center;} 
.photo_fu_top img{ max-width:410px; max-height:410px;_width:410px;margin:0 auto;}
.photo_fu_bottom{ width:410px; padding-top:20px; padding-bottom:20px;  text-align:center; background-color:#fff;}
.photo_fu_bottom img{ padding-left:15px; padding-right:15px;}



























