<{include '__TEMPLATE__/header.html'}>
<!--<form style="clear:both;" action="" method="post" enctype="multipart/form-data">-->
	<div class="add-div">
		<table>
			
			<tr>
				<td>评论内容：</td>
				<td>
					<textarea class="addinput"><{$model->message}></textarea>
				</td>
			</tr>
		
			<!--<tr>
				<td>回复：</td>
				<td>
					<textarea name="content" class="addinput"></textarea>
				</td>
			</tr>
			
			<tr>
				<td></td><td><button type="submit" name="btn_submit">确定</button></td>
			</tr>-->
		</table>
	</div>
<!--</form>-->

<{include '__TEMPLATE__/footer.html'}>