                    </td>
                    <td background="__RESOURCE__/images/mail_rightbg.gif">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="bottom" background="__RESOURCE__/images/mail_leftbg.gif"><img width="17" height="17" alt="" src="__RESOURCE__/images/buttom_left2.gif"></td>
                    <td background="__RESOURCE__/images/buttom_bgs.gif"><img width="17" height="17" alt="" src="__RESOURCE__/images/buttom_bgs.gif"></td>
                    <td valign="bottom" background="__RESOURCE__/images/mail_rightbg.gif"><img width="16" height="17" alt="" src="__RESOURCE__/images/buttom_right2.gif"></td>
                </tr>
            </tbody></table>
    </body></html>