<{foreach ($models as $model)}>
<ul>
	<a href="<{$model->tjhref}>" target="_blank">
		<li class="pp_l">
			<h2><img src="<{$model->pic}>" /></h2>
			<h2><{$model->title1}></h2>
			<h1><{$model->title2}></h1>
			<h2><{$model->time_start|date_format:'m月d日'}>-<{$model->time_end|date_format:'m月d日'}></h2>
		</li>
		<li class="pp_r"><img src="<{$model->tjpic}>" /></li>
		<div class="pp_fu" id="js-over-time-<{$model->id}>">剩余<{echo (int)(($model->time_end - time()) / 3600 / 24)}>天<{$model->time_end - time() - 8*3600|date_format:'H时i分s秒'}></div>
		<script>
			var overTime = <{$model->time_end - time()}>;
			overTiemFloatData.push({obj:$('#js-over-time-<{$model->id}>'),time:overTime});
		</script>
	</a>
</ul>
<{/foreach}>