<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title><{$meta->Title}></title>
	<link rel="shortcut icon" href="/favicon.ico"> 
	<meta content="<{$meta->Description}>" name="description">
	<meta content="<{$meta->Keywords}>" name="keyword">
	<{foreach ($css as $val)}>
	<link type="text/css" rel="stylesheet" href="__RESOURCE__/css/<{$val}>.css">
	<{/foreach}>
	<link type="text/css" rel="stylesheet" href="__RESOURCE__/css/pop_style.css">
	<link type="text/css" rel="stylesheet" href="__RESOURCE__/css/login.css">
	<{foreach ($js as $val)}>
	<script type="text/javascript" src="__RESOURCE__/js/<{$val}>.js"></script>
	<{/foreach}>
	<script type="text/javascript" src="__RESOURCE__/js/popup_layer.js"></script>
	<script type="text/javascript" src="__RESOURCE__/js/jquery.form.js"></script>
	<script  type="text/javascript">
	function changeType(obj) {
		var currentObj = $('#js-search-type');
		var currentName = currentObj.html();
		var typeName = $(obj).html();
		currentObj.html(typeName);
		$(obj).html(currentName);
	}

	function mySubmit(obj) {
		var currentObj = $('#js-search-type');
		var currentName = currentObj.html();
		var url = '__APP__';
		if (currentName == '团购') {
			url += '/tuan';
		}
		else if (currentName == '商品') {
			url += '/search';
		}
		var keyword = $(obj).find('input[name="keyword"]').val();
		url += '__LIMIT__keyword/' + encodeURI(keyword);
		window.open(url);
		$(obj).attr('action',url);
		return false;
	}
	
	function hitsLog(type,id) {
		var data = {type:type,id:id};
		$.ajax({
			url: '__AJAX__/hits/log?stmp=' + new Date().toString(),
			type: 'get',
			data: data,
			dataType: 'json',
			//async: false,
			success: function(data) {
				return false;
			}
		});
		return true;
	}
	
	
	//注册弹出层
	$(function(){		
		var pop = new PopupLayer({
			trigger:"#js-reg",
			popupBlk:"#js-pop-reg",
			closeBtn:"#js-reg-close",
			useOverlay:true,
			useFx:true,
			offsets:{
				x:0,
				y:0
			}
		});
		pop.doEffects = function(way){
			if(way == "open"){
				var left = ($(document).width() - this.popupLayer.width())/2;
				this.popupLayer.css({opacity:0.3}).show(300,function(){
					this.popupLayer.animate({
						left:left,
						top:(document.documentElement.clientHeight - this.popupLayer.height())/2 + $(document).scrollTop(),
						opacity:0.8
					},300,function(){this.popupLayer.css("opacity",1)}.binding(this));
				}.binding(this));
			}
			else{
				this.popupLayer.animate({
					left:this.trigger.offset().left,
					top:this.trigger.offset().top,
					opacity:0.1
				},{duration:200,complete:function(){this.popupLayer.css("opacity",1);this.popupLayer.hide()}.binding(this)});
			}
		}
	});
	
	function checkuser(){
		var name = $('.kuang').val();
		var data = {name:name};
		var url  = '__AJAX__/user/checkuser?stmp'+Math.random();
		$.ajax({
			type:'get',
			url:url,
			data:data,
			dataType:'json',
			success:function(data){
				if (data.result) {
					$('#email').html('<font color="green">用户名可用</font>');
				}
				else {
					$('#email').html('<font color="red">'+data.error.message+'</font>');
				}
			}
		});
	}
	function checkverify(){
		var verify = $('.kuang3').val();
		var url	   = '__AJAX__/user/checkverify?stmp'+Math.random();
		var data = {verify:verify};
		$.ajax({
			type:'get',
			url:url,
			data:data,
			dataType:'json',
			success:function(data){
				if(data.result) {
					$('#verify').html('<font color="green">验证码正确</font>');
				}
				else {
					$('#verify').html('<font color="red">'+data.error.message+'</font>');
				}
			}
		});
	}
	function checkform(){
		var name = $('.kuang').val();
		var verify = $('.kuang3').val();
		var data = {name:name,verify:verify}
		var url  = '__AJAX__/user/checkform?stmp'+Math.random();
		$.ajax({
			data:data,
			url:url,
			type:'get',
			dataType:'json',
			seccess:function(data){
				if(data.result) {
				
				} else {
					
				}
			}
		});
	}
	//CharMode函数 
	//测试某个字符是属于哪一类. 
	function CharMode(iN) {
		if (iN >= 48 && iN <= 57) //数字 
			return 1;
		if (iN >= 65 && iN <= 90) //大写字母 
			return 2;
		if (iN >= 97 && iN <= 122) //小写 
			return 4;
		else
			return 8; //特殊字符 
	}
	//bitTotal函数 
	//计算出当前密码当中一共有多少种模式 
	function bitTotal(num) {
		modes = 0;
		for (i = 0; i < 4; i++) {
			if (num & 1) modes++;
			num >>>= 1;
		}
		return modes;
	}
	//checkStrong函数 
	//返回密码的强度级别 
	function checkStrong(sPW) {
		if (sPW.length <= 4)
			return 0; //密码太短 
		Modes = 0;
		for (i = 0; i < sPW.length; i++) {
			//测试每一个字符的类别并统计一共有多少种模式. 
			Modes |= CharMode(sPW.charCodeAt(i));
		}
		return bitTotal(Modes);
	}
	//pwStrength函数 
	//当用户放开键盘或密码输入框失去焦点时，根据不同的级别显示不同的颜色 
	function pwStrength(pwd) {
		if (pwd == null || pwd == '') {
			$(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo1.jpg">');
			$(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong.jpg">');
			$(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang.jpg">');
			$('#pass').html('<font color="red">请填写密码</font>');
		}else if(pwd.length > 32) {
			$('#pass').html('<font color="red">密码不能超过32位</font>');
		}
		else {
			$('#pass').html('');	
			S_level = checkStrong(pwd);
			switch (S_level) {
				case 0:
					$(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo1.jpg">');
					$(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong.jpg">');
					$(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang.jpg">');
				case 1:
				    $(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo1.jpg">');
					$(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong.jpg">');
					$(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang.jpg">');
					break;
				case 2:		 
				   $(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo.gif">');
				   $(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang.jpg">');
				   $(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong1.gif">');
					break;
				default:
					$(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo.gif">');
					$(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong.jpg">');
				    $(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang1.gif">');
			}
		}
	} 
	</script>
</head>
<body>
<!-- 
<div class="top_bar">
	<div class="top_bar_con">
			<ul>
			<li style="margin-left:8px;"><a href="#">我要分享</a></li>
			<li style=""><a href="#"><img src="__RESOURCE__/images/6-4.png" alt=""></a></li>
			<li style="margin-left:780px;_margin-left:425px;"><a href="#">消息（3）</a></li>
			<li style=" margin-top:-10px;"><a href="#"><img src="__RESOURCE__/images/24-24.jpg" alt=""></a></li>
			<li style="margin-left:15px;"><a href="#">帮助</a></li>
			<li style=""><a href="#"><img src="__RESOURCE__/images/6-4.png" alt=""></a></li>
		</ul>
		
	</div>
</div>
-->

<div class="top_bar">
	<div class="top_bar_con">
		<ul>
			<li style="margin-left:8px;"><a href="#">我要分享</a></li>
			<li style=""><a href="#"><img src="__RESOURCE__/images/6-4.png" alt=""></a></li>
			<li style="margin-left:790px;_margin-left:430px;"><a href="#">登录</a></li>
			<li style=""><a href="#"><img src="__RESOURCE__/images/6-4.png" alt=""></a></li>
			<li style="margin-left:15px;"><a href="javascript:;" id="js-reg">注册</a></li>
			<li style="margin-left:15px;"><a href="#">帮助</a></li>
			<li style=""><a href="#"><img src="__RESOURCE__/images/6-4.png" alt=""></a></li>
		</ul>
	
	</div>
	<div class="dingwei2" style="display:none">
		<div class="login">
			<div class="login_yi"><input class="name" onmouseout="this.style.borderColor=''" onfocus="if (value =='用户名'){value =''}" value="用户名" onmouseover="this.style.borderColor=''" tabindex="1" onblur="if (value ==''){value='用户名'}" type="text" style=""></div>
			<div style="margin-top:15px; _margin-top:-17px;" class="login_yi"><input class="name" onmouseout="this.style.borderColor=''" onfocus="if (value =='密码'){value =''}" value="密码" onmouseover="this.style.borderColor=''" tabindex="1" onblur="if (value ==''){value='密码'}" type="text"></div>
			<div class="login_er">
				<div class="login_er_left"><input name="" type="checkbox" value="" checked="">记住密码</div>
				<div class="login_er_right"><a href="#"><img src="__RESOURCE__/images/61-33.jpg" alt=""></a></div>
			</div>
			<div class="login_san"></div>
			<div class="login_si">使用关联账户登录</div>
			<div class="login_wu">
				<ul>
					<li><a href="#"><img src="__RESOURCE__/images/29-28-tao.jpg" alt=""></a></li>
					<li><a href="#"><img src="__RESOURCE__/images/29-28-wei.jpg" alt=""></a></li>
					<li><a href="#"><img src="__RESOURCE__/images/29-28-qq.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 注册弹出层 start -->
<div class="box user-reg" id="js-pop-reg" style="display:none">
	<form action="__APP__/user/add" method="post" onsubmit="return checkform();">
		<div class="left">
			<div class="left_yi"><span style="font-size:18px;">注册</span>&nbsp;已有账户?&nbsp;<a style="color:#c74396;" href="#">立即登录</a></div>
			<div class="left_er"><input onblur="checkuser()" class="kuang" name="email" onmouseout="this.style.borderColor=''" onfocus="if (value =='用户名'){value =''}" value="用户名" onmouseover="this.style.borderColor=''" tabindex="1" onblur="if (value ==''){value='用户名'}" type="text" style=""></div>
			<div class="left_san" id="email">用户名必须是邮箱</div>
			<div class="left_er"><input onblur="pwStrength(this.value)" onkeyup="pwStrength(this.value)" class="kuang2" name="password"  tabindex="1"  type="password" style=""></div>
			<div class="right2_yi">
				<div class="right2_yi_zuo"><a href="#"><img src="__RESOURCE__/images/ruo1.jpg" alt=""></a></div>
				<div class="right2_yi_zhong"><a href="#"><img src="__RESOURCE__/images/zhong.jpg" alt=""></a></div>
				<div class="right2_yi_you"><a href="#"><img src="__RESOURCE__/images/qiang.jpg" alt=""></a></div>
			</div>
			<div class="left_san" id="pass"></div>
			<div class="left_si">
				<div class="left_si_left"><input onblur="checkverify()" class="kuang3" onmouseout="this.style.borderColor=''" onfocus="if (value =='验证码'){value =''}" value="验证码"  onmouseover="this.style.borderColor=''" tabindex="1" onblur="if (value ==''){value='验证码'}" type="text" name="verify" /></div>
				<div class="left_si_right"><a href="#"><img src="quzhaoroot.php/verify" onclick="javascript:this.src='quzhaoroot.php/verify?stmp='+new Date().toString();" /></a></div>
			</div>
			<div class="left_san" id="verify"></div>
			<div class="left_wu2">
				<div class="left_wu_left"><a href="#"><input type="image" name="btn_submit" src="__RESOURCE__/images/61-33-.jpg" /></a></div>
				<div class="left_wu_right2"><input name="agreement" type="checkbox" value="ok" checked="">同意<a href="#">用户协议</a></div>
			</div>
		</div>
	</form>
	<div class="right">
		<div class="right_yi"><a href="javascript:;" id="js-reg-close"><img src="__RESOURCE__/images/7-8.png" alt=""></a></div>
		<div class="right_er">使用合作账号登录</div>
		<div class="right_san2">
			<div class="right_san2_zuo"><a href="#"><img src="__RESOURCE__/images/52-52-tao.png" alt=""></a></div>
			<div class="right_san2_zhong"><a href="#"><img src="__RESOURCE__/images/52-52-wei.png" alt=""></a></div>
			<div class="right_san2_you"><a href="#"><img src="__RESOURCE__/images/52-52-qq.png" alt=""></a></div>
		</div>
		<div class="right_zi">
			<ul>
				<li><a href="#">淘宝</a></li>
				<li><a href="#">微博</a></li>
				<li><a href="#">QQ</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- 注册弹出层 end -->

<!-- 登录弹出层 start -->
<!-- 登录弹出层 end -->
<div class="box">
	<{if ($type != 'dp' && 0)}>
	<div id="nav_left_layout">
	<div class="mini_nav" >
		<div class="mini_nav_box">
			<h1>商品分类</h1>
			<ul>
				<li><a href="#" class="mini_nav_box_1"><span></span>女装</a></li>
				<li><a href="#" class="mini_nav_box_2"><span></span>男装</a></li>
				<li><a href="#" class="mini_nav_box_3"><span></span>鞋子</a></li>
				<li><a href="#" class="mini_nav_box_4"><span></span>包包</a></li>
				<li><a href="#" class="mini_nav_box_5"><span></span>内衣</a></li>
				<li><a href="#" class="mini_nav_box_6"><span></span>母婴</a></li>
				<li><a href="#" class="mini_nav_box_7"><span></span>家居</a></li>
				<li><a href="#" class="mini_nav_box_8"><span></span>化妆品</a></li>
				<li><a href="#" class="mini_nav_box_9"><span></span>电器</a></li>
			</ul>
		</div>
		<div><img src="__RESOURCE__/images/l_nav_bt.png" class="png"/></div>
	</div>
	</div>
	<{/if}>
	<div class="top">
		<div class="logo"><a href="/"><img src="__RESOURCE__/images/logo.gif" border="0" /></a></div>
		<div class="search_box">
			<div class="search_box1" >
				<form style="margin:0px;" id="js-index-search-form" action="" method="get" onsubmit="return mySubmit(this);">
					<input type="text" name="keyword"class="search_in"  onmouseout="this.style.borderColor=''" onfocus="if (value =='羽绒服'){value =''}" value="<{$keyword}>"  onmouseover="this.style.borderColor=''" tabindex="1" onblur="if (value ==''){value='羽绒服'}"/>
					<div class="search_in_lei">
						<ul>
							<li>
								<a href="#nogo"><span style="position:static;" id="js-search-type">商品</span><span><img src="__RESOURCE__/images/bn.gif" /></span></a>
								<ul>
									<li>
										<a href="#nogo" onclick="changeType(this)">团购</a>
									</li>
									<!-- <li>
										<a href="#nogo">商家</a>
									</li> -->
								</ul>
							</li>
						</ul>
					</div>
					<div class="search_pnt">
					<a href="#nogo" onclick="$('#js-index-search-form').submit();"></a>
					</div>
				</form>
			</div>
		</div>
		
		<div class="top_nav">
			<{foreach ($menu->menu as $key => $arr)}>
				<a href="<{$arr['url']}>" target="<{$arr['target']}>" <{if ($type == $key)}>class="nav_open"<{/if}> target="">
					<img src="__RESOURCE__/images/<{$arr['image']}>" />
					<h2><{$arr['name']}></h2>
				</a>
			<{/foreach}>
		</div>
	</div>
</div>
