<{include '__TEMPLATE__/header.html'}>

<div class="list-div">
	<div class="content-select">
		<table>
				<td>
					<a href="javascript:;" onclick="goLev1(1)">一级分类</a>
				</td>
				<td>
					<a href="javascript:;" onclick="goLev1(2)">二级分类</a>
				</td>
				<td><a href="javascript:;" onclick="goLev1(3)">三级分类</a><td>
			</tr>
		</table>
	</div>
</div>
<form style="clear:both;" action="__APP__/associated/add" method="post">
	<input type="hidden" name="name" value="<{$name}>" />
	<div class="add-div">
		<table style="width:100%;margin:auto;" border="0">
	<tr>
		<th style="width:5px;"><input onclick="checkAll(this)" class="js-checkall-input"  type="checkbox" /></th>
		<th style="width:50px;">ID</th>
		<th style="width:350px;">名称</th>
	</tr>
		<{if ($model)}>
		<{foreach ($model as $val)}>
		<tr>
			<td><input type="checkbox" class="js-checkall-input js-index-id" name="cateId[]" value="<{$val->categoryid}>" /></td>
			<td align="center"><{$val->categoryid}></td>
			<td align="center"><{$val->name}></td>
		</tr>
		<{/foreach}>
		<{/if}>
	<tr>
		<td><input type="checkbox" onclick="checkAll(this)" class="js-checkall-input" /></td>
	</tr>
	<tr>
		<td colspan="3" align="center"><input type="submit" name="btn_submit" value="提交" /></td>
	</tr>
	
</table>
	</div>
	
</form>	
<{uc class="PageControlView" pageCore=$pageCore}>
<{include '__TEMPLATE__/footer.html'}>
<form id="js-go-form" action="" method="get">
	<input type="hidden" name="page" value="<{$page}>" />
	<input type="hidden" name="lev" value="<{$lev}>" />
	<input type="hidden" name="name" value="<{$name}>" />
</form>
<script>
var isGoPage = false;
function goPage(page) {
	isGoPage = true;
	var formObj = $('#js-go-form');
	formObj.find('input[name="page"]').val(page);
	formObj.submit();
}
function goLev1(lev) {
	isGoPage = true;
	var formObj = $('#js-go-form');
	formObj.find('input[name="lev"]').val(lev);
	formObj.submit();
}
function checkAll(obj) {
	var checkInputObj = $('.js-checkall-input');
	if ($(obj).attr('checked')) {
		checkInputObj.attr('checked',true);
	} 
	else {
		checkInputObj.attr('checked',false);
	}
}


</script>