<{include '__TEMPLATE__/header.html'}>

<div class="list-div">
	<div class="content-select">
		<form id="js-go-form" action="" method="get" onsubmit="return search(this)">
		<input type="hidden" name="page" value="<{$page}>" />
		<table>
				<td>
					关键词
				</td>
				<td>
					<input name="name" value="" />
				</td>
				<td><button type="submit">筛选</button>
			</tr>
		</table>
	</form>
	</div>
</div>
<{if ($model)}>
<form style="clear:both;" action="" method="post">
	<div class="add-div">
		<table style="width:100%;margin:auto;" border="0">
		<tr>
			<th style="width:350px;">名称</th>
			<th style="width:100px;">操作</th>
		</tr>
		
		<{foreach ($model as $val)}>
			<tr>
				<td align="center"><{$val->keyname}></td>
				
				<td align="center">
					<a href="__APP__/homebrand/brand2__LIMIT__id/<{$val->id}>">编辑</a>&nbsp;
					<a onclick="del(<{$val->id}>)" href="#nogo">删除</a>
				</td>
			</tr>
		<{/foreach}>
		</table>
	</div>
</form>	
<{uc class="PageControlView" pageCore=$pageCore}>
<{/if}>

<{include '__TEMPLATE__/footer.html'}>
<script>
var isGoPage = false;
function goPage(page) {
	isGoPage = true;
	var formObj = $('#js-go-form');
	formObj.find('input[name="page"]').val(page);
	formObj.submit();
	//window.location.href = '__APP__/content?page='+page;
}
function del(id) {
	if (!confirm('确定要删除吗？')) {
		return;
	}
	var ids;
	if (id) {
		ids = [id];
	}
	else {
		$('.js-index-id:checked').each(function(){
			if (!ids) {
				ids = [];
			}
			ids.push($(this).val());
		});
	}
	if (!ids) {
		alert('请选择要删除的数据');
		return;
	}
	
	$.ajax({
		url: '__AJAX__/brandname/del?stmp=' + new Date().toString(),
		type: 'post',
		data: {ids:ids},
		success: function(data) {
			window.location.reload();
		}
	});
}

function search(obj) {
	var formObj = $(obj);
	if (!isGoPage) {
		formObj.find('input[name="page"]').val(1);
	}
	var all = false;
	var stateStr = '';
	$('.js-search-state:checked').each(function(){
		var value = $(this).val();
		if (!value) {
			all = true;
		}
		else if (!stateStr) {
			stateStr = value;
		}
		else {
			stateStr += ',' + value;
		}
	});
	if (!all) {
		formObj.find('input[name="state"]').val(stateStr);
	}
	return true;
}

</script>