<{include '__TEMPLATE__/header.html'}>


<form  action="" method="post"  onsubmit="return checkform()">
	<div class="add-div">
		<table width="">
			<tr>
				<td>分类名称：</td>
				<td><input name="name" value="" type="text" style="width:150px;" class="addinput" id="name" /></td>
			</tr>
			
			<tr>
				<td></td><td><button type="submit" name="btn_submit">确定</button></td>
			</tr>
		</table>
	</div>
</form>
<div style="clear:both;"></div>
<ul style="float:left;">
<{foreach ($cateModel as $model)}>
	<li>
		<{$model->name}>&nbsp;&nbsp;||&nbsp;&nbsp;<a href="#nogo" onclick="del(<{$model->id}>)">删除</a>
	</li>
<{/foreach}>
</ul>

<{include '__TEMPLATE__/footer.html'}>
<script>
function checkform() {
	var	name = $('#name').val();
	if(name == '') {
		alert('分类名称不能为空');
		return false;
	}
}
function del(id) {
	if (!confirm('确定要删除吗？')) {
		return;
	}
	if (!id) {
		alert('请选择要删除的数据');
		return;
	}
	$.ajax({
		url: '__AJAX__/cateadd/del?stmp=' + new Date().toString(),
		type: 'post',
		data: {ids:id},
		success: function(data) {
			window.location.reload();
		}
	});
}
</script>