<{uc class="HeaderControlView" meta=$meta type=NavmenuModel::MENU_DB css="css,city" js="jquery,jquery.form"}>
<!--content-->
<div class="box dp">
	<div class="con_left">
		<div class="con_left_yi">设置</div>
		<form action="__APP__/user/change" method="post" enctype="multipart/form-data">
		<div class="con_left_er">
			<div class="con_left_er_zuo">基本设置</div>
			<div class="con_left_er_you">
				<div class="you_name"><input class="yy" value="用户名" type="text" onblur="if (this.value == '' ){this.value = '用户名'}" onfocus="if(this.value=='用户名'){this.value = ''}" name="nickname" /></div>
				<input type="hidden" name="cityid" id="cityname" value="10100" />
				<div class="dingwei"><a href="javascript:" onclick="showCity()"><img src="__RESOURCE__/images/12-16.jpg"/></a>&nbsp;<span id="js-city-name"><{$cityName}></span></div>
			</div>
		</div>
		<div class="con_left_san">
			<div class="san_left">修改密码</div>
			<div class="san_right">
				<a href="javascript:;" onclick="showChangePasswordDiv()">
				<img src="__RESOURCE__/images/85-23.jpg" alt="" /></a>
			</div>
		</div>
		<div class="con_left_si">
			<div class="con_left_si_zuo">照片</div>
			<div class="con_left_si_you"><a href="javascript:;"><img src="__RESOURCE__/images/144-145.jpg" alt=""/></a></div>
			<div class="hei">
				<div class="photo"><a href="javascript:;" onclick="showUploadDiv()"><img src="__RESOURCE__/images/56-42.png" alt=""/></a></div>
				<div class="photo_zi"><a href="javascript:;" onclick="showUploadDiv()">换一张照片</a></div>
			</div>
		</div>

		
		<div class="con_left_qi"><a href="javascript:;"><input type="image" src="__RESOURCE__/images/61-34.jpg" name="btn_submit" /></a></div>
		</form>
		<div class="clear"></div>
	</div>
	<div class="con_right"></div>
</div>
<{uc class="FooterControlView"}>
<!-- 城市 start -->
<div id="city_list" bk="" class="pop_city" style="top: 295px; left: 211.5px; display: none;">
	<div class="radius_top"></div>
	<div class="cont">
		<h3>
			城市列表<span class="close city_close" onclick="$('#city_list').hide();" title="关闭"></span>
		</h3>
		<div class="city_list">
			<ul>
				<li>
					<h4>热门</h4>
					<p>
						<{foreach ($hotCityModels as $model)}>
							<a city="<{$model->name_en}>" href="#nogo" onclick="goCity(<{$model->id}>,'<{$model->name_cn}>')"><{$model->name_cn}></a>
						<{/foreach}>
					</p>
				</li>
				<li>
					<h4>拼音</h4>
					<div class="filter_bar">
						<{foreach ($cityHead as $value)}>
							<a href="#nogo" class="<{if ($value == $headLetter)}>current<{/if}> js-city-head" onclick="selectCity(this,'<{$value}>')" class=""><{$value}></a>
						<{/foreach}>
					</div>
					<div class="city_wrap">
						<{foreach ($headToModels as $key => $models)}>
							<p class="js-city-div" key="<{$key}>" style="display: <{if ($key == $headLetter)}>block<{else}>none<{/if}>;">
								<{foreach ($models as $model)}>
									<a href="#nogo" onclick="goCity(<{$model->id}>,'<{$model->name_cn}>')"><{$model->name_cn}></a>
								<{/foreach}>
							</p>
						<{/foreach}>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="radius_bottom"></div>
</div>  
<!-- 城市 end -->

<div class="Register3_box" style="display:none;padding: 45px 45px 60px; top:0px;;" id="js-change-password-div">
	<div class="off"><a href="javascript:;" onclick="$.mask.close(function(){$('.js-change-error').html('')})">x</a></div>
	<h1>重置密码</h1>
	<div class="Register3_box_l">
		<a href="javascript:;"><h2>&nbsp;</h2></a>
	</div>
	<form onsubmit="return changePassword(this)" class="js-change-password-form">
	<div class="Register3_box_r">
		<ul>
			<li>
				<input name="password" type="text" class="Register3_box_r_in" onmouseout="this.style.borderColor=''" onfocus="type='password';if (value =='输入新密码'){value =''}" value="输入新密码" onmouseover="this.style.borderColor=''" tabindex="1" onblur="if (value ==''){value='输入新密码';type='text'}" style="">
				<h3 style="" class="js-change-error"></h3>
			</li>
			<li>
				<input name="repassword" type="text" class="Register3_box_r_in" onmouseout="this.style.borderColor=''" onfocus="type='password';if (value =='再输一次新密码'){value =''}" value="再输一次新密码" onmouseover="this.style.borderColor=''" tabindex="1" onblur="if (value ==''){value='再输一次新密码';type='text';}" style="">
				<h3 style="" class="js-change-error"></h3>
			</li>
			<li class="Register3_box_r_pnt"><a href="javascript:;" onclick="$('#jquery-extend-mask-inner').find('.js-change-password-form').submit()">完成</a></li>
		</ul>
	</div>
	</form>
</div>

<script>

function changePassword(obj) {
	var passwordObj = $(obj).find('input[name="password"]');
	var passwordErrObj = passwordObj.next();
	var password = passwordObj.val();
	if (password == '输入新密码') {
		password = '';
	}
	if (!password || password.length < 6) {
		console.log(password.length);
		passwordErrObj.html('密码不能少于6位');
		return false;
	}
	if (password.length > 32) {
		passwordErrObj.html('密码不能大于32位');
		return false;
	}
	var repasswordObj = $(obj).find('input[name="repassword"]');
	var repasswordErrObj = repasswordObj.next();
	var repassword = repasswordObj.val();
	if (!repassword || repassword == '再输一次新密码') {
		repassword = '';
	}
	if (!repassword || repassword != password) {
		repasswordErrObj.html('两次输入的密码不一致');
		return false;
	}
	$('.js-change-error').html('');
	$.ajax({
		url: '__AJAX__/user/changePassword?stmp=' + new Date().toString(),
		data: {password:password},
		type: 'post',
		dataType: 'json',
		success: function(data) {
			if (data.result) {
				alert('密码更改成功');
				window.location.reload();
			}
			else {
				alert(data.result.message);
			}
		}
	});
	return false;
}

function showChangePasswordDiv() {
	$.mask.show($('#js-change-password-div'));
}

function showCity() {
	var obj = $('#city_list');
	if (obj.is(':visible')) {
		obj.hide();
	} 
	else {
		obj.show();
	}
}

function selectCity(obj,letter) {
	$('.js-city-head').removeClass('current');
	$(obj).addClass('current');
	$('.js-city-div').hide();
	$('.js-city-div[key="'+letter+'"]').show();
}
function goCity(id,name) {
	$('#city_list').hide();
	$('#js-city-name').html(name);
	$('#cityname').val(id);
}

function showUploadDiv() {
	$.ajax({
		url: '__APP__/portrait?stmp=' + new Date().toString(),
		success: function(html) {
			$.mask.show(html);
		}
	});
}
</script>