<{uc class="HeaderControlView" meta=$meta type=NavmenuModel::MENU_DB css="css" js="jquery"}>
<!--content-->
<div class="box dp">
	<div class="con_left2">
		<div class="xinxi">
			<ul>
				<li class="aa"><a href="#">喜欢（20）</a></li>
				<li ><a href="#">爆料（9）</a></li>
				<li ><a href="#">消息（2）</a></li>
			</ul>
		</div>
		<div class="line"></div>
		<ul>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
			<li>
				<div class="ress_more_li">
				<p><a href="#"><img src="http://s1.juancdn.com/bao/130329/t/2/51550a463a231_900x900.jpg_220x220.jpg" /></a></p>
				<h3><a href="#">超值洗衣组合洗衣袋 晾衣篮</a></h3>
				<h4>￥9.90</h4>
				<h2>
					<span><a href="#"><img src="__RESOURCE__/images/like.gif" />3435</a></span><span><a href="#"><img src="__RESOURCE__/images/see.gif" />3435</a></span>
				</h2>
				</div>
			</li>
		</ul>
		<div class="pag" style="width:680px; background-color:#fff; padding-top:60px; margin-top:0px;">
<a href="#">上一页</a>
<a href="#" class="pag_open">1</a>
<a href="#">2</a>
<a href="#">3</a>
<a href="#">4</a>
<a href="#">5</a>
...
<a href="#">67</a>
<a href="#">下一页</a>
</div>
		
	</div>
	<div class="con_right2">
		<div class="right2_yi">
			<div class="right2_yi_pic"><a href="#"><img src="__RESOURCE__/images/144-145.jpg" alt=""/></a></div>
			<div class="right2_yi_title">
				<ul>
					<li><a style="font-size:16px;" href="#">小李子</a></li>
					<li><a href="#"><img src="__RESOURCE__/images/12-16.jpg" alt=""/></a>&nbsp;<a href="#">北京</a></li>
				</ul>
			</div>
		</div>
		<div class="right2_er"></div>
	
	
	</div>
</div>
<{uc class="FooterControlView"}>
