<{uc class="HeaderControlView" meta=$meta css="css"}>
<!--content-->
<div class="box dp">
	<div class="con_left2">
		<div class="xinxi">
			<ul>
				<li class="js-user-menu aa"><a href="javascript:;" onclick="love(this)">喜欢（<{$pageCore->count}>）</a></li>
				<li class="js-user-menu"><a href="javascript:;" onclick="share(this);">爆料（<{$pageShareCore->count}>）</a></li>
				
			</ul>
		</div>
		<div class="line"></div>
		<ul id="js-love">
			<{if ($model)}>
			<{foreach ($model as $val)}>
			<li>
				<div class="ress_more_li">
				<p><a href="<{$val->href}>" target="_blank"><img src="<{$val->pic|parsePicpath}>"/></a></p>
				<h3><a href="<{$val->href}>" target="_blank" title="<{$val->name}>"><{$val->name|truncate:25}></a></h3>
				<h4><{$val->price}></h4>
				<h2>
					<span><a href="javascript:;"><img src="__RESOURCE__/images/like.gif" /><{$val->lovenumber}></a></span><!--<span><a href="javascript:;"><img src="__RESOURCE__/images/see.gif" />3435</a></span>-->
				</h2>
				</div>
			</li>
			<{/foreach}>
			<{else}>
				<h2 center="center">暂无喜欢商品</h2>
			<{/if}>
		</ul>
		<ul style="display:none;" id="js-shareCore">
			<{if ($shareModel)}>
			<{foreach ($shareModel as $val)}>
			<li>
				<div class="ress_more_li">
				<p><a href="<{$val->url}>" target="_blank"><img src="<{$val->image|parsePicpath}>"/></a></p>
				<h3><a href="<{$val->url}>" target="_blank" title="<{$val->title}>"><{$val->title|truncate:25}></a></h3>
				<h4><{$val->price}></h4>
				<h2>
				</h2>
				</div>
			</li>
			<{/foreach}>
			<{else}>
				<h2 center="center">暂无爆料商品</h2>
			<{/if}>
		</ul>
		<{uc class="PageControlView" pageCore="$pageCore"}>
		
	</div>
	<div class="con_right2">
		<div class="right2_yi">
			<div class="right2_yi_pic">
				<a href="javascript:;">
					<{if (!empty($CurrentUser->head))}>
						<img src="<{$CurrentUser->head|parsePicpath}>" alt=""/>
					<{else}>
						<img src="__RESOURCE__/images/user_header.gif" width="115" height="115" alt="" />
					<{/if}>
				</a>
			</div>
			<div class="right2_yi_title">
				<ul>
					<li><a style="font-size:16px;" href="javascript:;"><{$CurrentUser->nickname}></a></li>
					<li><a href="javascript:;" href="__APP__/user/change" title="设置"><img src="__RESOURCE__/images/sz.gif" /></a></li>
				</ul>
			</div>
		</div>
		<div class="right2_er">
			<div class="pp_rr2" style="width:192px;">
			<h2>热门推荐</h2>
			<ul>
				<{foreach ($tjModels as $model1)}>
				<li>
					<a onclick="hitsLog(1,<{$model1->id}>);return dpLog(<{$model1->id}>);" href="__APP__/dp/end__LIMIT__id/<{$model1->id}>" target="_blank">
					<div><img src="<{if (!preg_match('/^http:\/\//',$model1->pic))}>/<{/if}><{$model1->pic}>" /></div>
					<!-- <div class="xl"><span>月销量：6438件</span></div> -->
					<h2><{$model1->name}></h2>
					<h3>￥<{$model1->price}></h3></a>
				</li>
				<{/foreach}>
			</ul>
			</div>
		</div>
	
	
	</div>
</div>
<{uc class="FooterControlView"}>
<script>
function goPage(page) {
	window.location.href = '__APP__/user__LIMIT__page/' + page;
}
function share(obj) {
	$('.js-user-menu').removeClass('aa');
	$(obj).parent().addClass('aa');
	$('#js-love').hide();
	$('#js-shareCore').show();
}
function love(obj) {
	$('.js-user-menu').removeClass('aa');
	$(obj).parent().addClass('aa');
	$('#js-love').show();
	$('#js-shareCore').hide();
}
</script>