<div class="top_bar_con">
	<ul>
		<li style="margin-left:8px;"><a href="javascript:;" onmouseover="$(this).float($('#js-header-share'))">我要分享</a></li>
		<li style=""><a href="#"><img src="__RESOURCE__/images/6-4.png" alt=""></a></li>
		<{if ($CurrentUser)}>
			<li style="margin-left:780px;_margin-left:425px;"><a href="#">消息（0）</a></li>
			<li style=" margin-top:-10px;"><a href="__APP__/user/change"><img src="__RESOURCE__/images/24-24.jpg" alt=""></a></li>
		<{else}> 
			<li style="margin-left:790px;_margin-left:430px;"><a href="javascript:;" onclick="showLoginDiv()">登录</a></li>
			<li style=""><a href="javascript:;" ><img src="__RESOURCE__/images/6-4.png" alt=""></a></li>
			<li style="margin-left:15px;"><a href="javascript:;" onclick="showRegDiv();" id="js-reg">注册</a></li>
		<{/if}>
		<li style="margin-left:15px;"><a href="#">帮助</a></li>
		<li style=""><a href="#"><img src="__RESOURCE__/images/6-4.png" alt=""></a></li>
	</ul>	
</div>
<div class="dingwei2">
	<ul class="youhui" id="js-header-share" style="display:none;">
		<li><a href="javascript:;" onclick="showShareDiv()">优惠商品</a></li>
		<li><a href="javascript:;">折扣活动</a></li>
	</ul>
	
	<ul class="xiaoxi" style="display:none;">
		<li class="chang">照片<a href="#">理业主的照片理业主</a>有了新回复</li>
		<li class="duan"><a href="#">不再提醒</a></li>
		<li class="chang">折扣活动</li>
		<li class="duan"><a href="#">不再提醒</a></li>
		<li class="chang">照片<a href="#">理业主助理业主|早起~</a>有了新回复</li>
		<li class="duan"><a href="#">不再提醒</a></li>
	</ul>
</div>
<script>
var userCallBak = function(){};
function showLoginDiv() {
	$.ajax({
		url: '__APP__/user/userlogin?stmp=' + new Date().toString(),
		success: function(html) {
			$.mask.show($(html));
		}
	});
}

function showRegDiv() {
	$.ajax({
		url: '__APP__/user/userreg?stmp=' + new Date().toString(),
		success: function(html) {
			$.mask.show($(html));
		}
	});
}

function showShareDiv() {
	//如果用户没有登录先登录
	if (!CurrentUserInfo) {
		userCallBak = showShareDiv;
		showLoginDiv();
	}
	else {
		$.ajax({
			url: '__APP__/user/share?stmp=' + new Date().toString(),
			success: function(html) {
				$.mask.show($(html));
			}
		});
	}
}

function doLogin(obj) {
	$(obj).ajaxSubmit({
		type: 'post',
		url: '__AJAX__/user/login?stmp=' + new Date().toString(),
		dataType: 'json',
		success: function(data) {
			if (data.result) {
				CurrentUserInfo = data.result;
				userCallBak();
				showTop();
			}
			else {
				var msg = data.error.message;
				$('#js-error').html(msg);
			}
		}
	});
	return false;
}

//注册
function doReg(obj) {
	$(obj).ajaxSubmit({
		dataType: 'json',
		success: function(data) {
			if (data.result) {
				window.location.href = '__APP__/user/change';
			}
		}
	});
	return false;
}

function checkRePassword(obj) {
	obj.type = 'password';
	if (obj.value =='确认密码') {
		obj.value = ''
	}
}

function rePasswordBlur(obj) {
	var password = $('#js-password').val();
	if (obj.value == '') {
		obj.value='确认密码'
		obj.type = 'text';
	}
	else if (obj.value != password) {
		$('#js-pass-error').html('两次密码输入的不一致');
		$(obj).css('border-color','#E872C0');
	}
}

function checkuser() {
	obj = $('#js-user-email');
	var name = obj.val();
	if (!name || name == '登录邮箱') {
		$('#js-email-error').html('请填写email');
		obj.css('border-color','#E872C0');
		if (name =='') {
			obj.val('登录邮箱');
		}
		return false;
	}
	
	var data = {name:name};
	var url  = '__AJAX__/user/checkuser?stmp'+Math.random();
	$.ajax({
		type:'get',
		url:url,
		data:data,
		dataType:'json',
		success:function(data){
			if (data.result) {
				$('#js-email-error').html('<font color="green">用户名可用</font>');
				$(obj).css('border-color','#cdcdcd');
			}
			else {
				$('#js-email-error').html(data.error.message);
				$(obj).css('border-color','#E872C0');
			}
		}
	});
}

function checkverify(value) {
	if (value ==''){value='验证码'}
	var data = {verify:value};
	var url  = '__AJAX__/user/checkverify?stmp'+Math.random();
	$.ajax({
		type:'get',
		url:url,
		data:data,
		dataType:'json',
		success:function(data){
			if (data.result) {
				$('.kuang3').css('border-color','#cdcdcd');
				$('#verify').html('');
			}
			else {
				$('#verify').html('<font color="#E872C0">'+data.error.message+'</font>');
				$('.kuang3').css('border-color','#E872C0');
			}
		}
	});
}
//CharMode函数 
//测试某个字符是属于哪一类. 
function CharMode(iN) {
	if (iN >= 48 && iN <= 57) //数字 
		return 1;
	if (iN >= 65 && iN <= 90) //大写字母 
		return 2;
	if (iN >= 97 && iN <= 122) //小写 
		return 4;
	else
		return 8; //特殊字符 
}
//bitTotal函数 
//计算出当前密码当中一共有多少种模式 
function bitTotal(num) {
	modes = 0;
	for (i = 0; i < 4; i++) {
		if (num & 1) modes++;
		num >>>= 1;
	}
	return modes;
}
//checkStrong函数 
//返回密码的强度级别 
function checkStrong(sPW) {
	if (sPW.length <= 4)
		return 0; //密码太短 
	Modes = 0;
	for (i = 0; i < sPW.length; i++) {
		//测试每一个字符的类别并统计一共有多少种模式. 
		Modes |= CharMode(sPW.charCodeAt(i));
	}
	return bitTotal(Modes);
}
//pwStrength函数 
//当用户放开键盘或密码输入框失去焦点时，根据不同的级别显示不同的颜色 
function pwStrength(pwd, type) {
	if (pwd == null || pwd == '') {
		$(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo1.jpg">');
		$(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong.jpg">');
		$(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang.jpg">');
		$('#js-pass-error').html('请填写密码');
		$('#js-password').val('密码').get(0).type = 'text';
		$('#js-password').css('border-color','#E872C0');
	}
	else if (type && type == 'onblur' && pwd.length < 6) {
		$('#js-pass-error').html('密码不能低于6位');
		$('#password').css('border-color','#E872C0');
	}
	else if(pwd.length > 32) {
		$('#js-pass-error').html('密码不能超过32位');
		$('#password').css('border-color','#E872C0');
	}
	else {
		$('#js-pass-error').html('');	
		$('#js-password').css('border-color','#cdcdcd');
		S_level = checkStrong(pwd);
		switch (S_level) {
			case 0:
				$(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo1.jpg">');
				$(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong.jpg">');
				$(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang.jpg">');
			case 1:
				$(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo1.jpg">');
				$(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong.jpg">');
				$(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang.jpg">');
				break;
			case 2:		 
			   $(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo.gif">');
			   $(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang.jpg">');
			   $(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong1.gif">');
				break;
			default:
				$(".right2_yi_zuo").html('<img src="__RESOURCE__/images/ruo.gif">');
				$(".right2_yi_zhong").html('<img src="__RESOURCE__/images/zhong.jpg">');
				$(".right2_yi_you").html('<img src="__RESOURCE__/images/qiang1.gif">');
		}
	}
} 
</script>