<div class="mulist">最新评论（<{$pageCore->count}>）</div>
<{if ($model)}>
<{foreach ($model as $val)}>
<div class="comt_box">
<div class="comt_l">
<img src="http://tp3.sinaimg.cn/1197161814/50/1290146312/1" />
</div>
<div class="comt_r">
<div class="comt_r_top">
<div class="comt_r_top_l">
<a href="#"><{$val->nickname}></a><{$val->creattime|date_format:'Y-m-d H:i:s'}>
</div>
<div class="comt_r_top_r">
<!--<a href="#">@他</a>-->
<a href="javascript:;" onclick="cite(<{$val->id}>);">引用原文</a>
<a href="javascript:;" onclick="return revert(<{$val->id}>,'<{$val->nickname}>');">回复</a>
<h2><{$val->storey}>楼</h2>
</div>
</div>
<!--
<div class="comt_r_cont2">回复</div>
-->
<div class="comt_r_cont" id="js-getMessage-<{$val->id}>">
<{$val->message}> 
</div>
</div>
</div>
<{/foreach}>
<{/if}>
<form id="js-go-form" action="__APP__/message/index" method="get">
	<input type="hidden" name="page" value="" />
</form>
<{uc class="PageControlView" pageCore=$pageCore}>
<script>
function goPage(page) {
	showComt(page);
}
</script>