<div class="mulist">最新评论（<{$pageCore->count}>）</div>
<{if (!empty($model))}>
<{foreach ($model as $val)}>
<div class="comt_box">
	<div class="comt_l">
		<{if ($val->head)}>
			<img src="<{$val->head|parsePicpath}>" width="40" height="40" />
		<{else}>
			<img src="__RESOURCE__/images/tx.gif" width="40" height="40" />
		<{/if}>
		
	</div>
	<div class="comt_r">
		<div class="comt_r_top">
			<div class="comt_r_top_l">
				<a href="javascript:void(0);"><{$val->nickname}></a><{$val->creattime|date_format:'Y-m-d H:i:s'}>
			</div>
			<div class="comt_r_top_r">
			<!--<a href="#">@他</a>-->
			<a href="javascript:;" onclick="cite(<{$val->id}>);">引用原文</a>
			<a href="javascript:;" onclick="revert(<{$val->id}>);">回复</a>
			<{if (isset($val->del))}><a href="javascript:;" onclick="del(<{$val->id}>);">删除</a><{/if}>
			<h2><{$val->storey}>楼</h2>
			</div>
		</div>
		<div class="comt_r_cont" id="js-getMessage-<{$val->id}>">
			<{$val->message}> 
		</div>
		<{if (!empty($val->replys))}>
		<{foreach ($val->replys as $v)}>
		<div class="comt_r_cont2" style="float:left;"><a href="javascript:void(0);" style="color:#C74396;"><{$v->nickname}></a>：<{$v->content}></div><{if (isset($v->del))}><div style="float:right;"><a href="javascript:;" style="color:#C74396;"  onclick="delReply(<{$v->id}>);">删除</a></div><{/if}>
		<{/foreach}>
		<{/if}>
		<div style="display:none;" class="js-hiddenreply" id="js-hiddenReply-<{$val->id}>">
			<textarea name="content" id="js-reply-content-<{$val->id}>" onkeyup="checkReply(<{$val->id}>);"></textarea>
			<br />
			<input type="submit" value="提交" onclick="reply(<{$val->id}>);" />
			<div id="js-empty-reply-<{$val->id}>"></div>
		</div>
		
	</div>
</div>
<{/foreach}>
<{/if}>
<form id="js-go-form" action="__APP__/message/index" method="get">
	<input type="hidden" name="page" value="" />
</form>
<{uc class="PageControlView" pageCore=$pageCore}>
<script>
function goPage(page) {
	showComt(page);
}
function revert(id) {
	if (!CurrentUserInfo) {
		showLoginDiv();
		return false;
	}
	if ($('#js-hiddenReply-'+id).is(':visible')) {
		$('.js-hiddenreply').hide();
		$('#js-empty-reply-'+id).html('');
	}
	else {
		$('.js-hiddenreply').hide();
		$('#js-empty-reply-'+id).html('');
		$('#js-hiddenReply-'+id).show();
	}
}

function checkReply(id) {
	$('#js-empty-reply-'+id).html('');
}

function reply(messageId) {
	if (!CurrentUserInfo) {
		showLoginDiv();
		return false;
	}
	msg = $('#js-reply-content-'+messageId).val();
	if(msg == '') {
		$('#js-empty-reply-'+messageId).html('<font style="color:red">回复内容不能为空</font>');
		return false;
	}
	if(msg.length > 600) {
		$('#js-empty-reply-'+messageId).html('<font style="color:red">回复内容600字以内</font>');
		return false;
	}
	data = {content:msg,messageId:messageId};
	url = '__AJAX__/reply/add?stmp=' + new Date().toString();
	$.ajax({
		dataType:'json',
		type:'post',
		data:data,
		url:url,
		success:function(data){
			if(data.result) {
				showComt(<{$pageCore->currentPage}>);
			}
			else if(data.error.code == 50001) {
				showLoginDiv();
				return false;
			}
			else if(data.error.code == 50002) {
				window.location.href="__APP__/user/preset";
			}
		}
	});
}
function del(id) {
	if (!confirm('确定要删除吗？')) {
		return;
	}
	if (!id) {
		alert('请选择要删除的数据');
		return;
	}
	$.ajax({
		url: '__AJAX__/message/del?stmp=' + new Date().toString(),
		type: 'post',
		data: {ids:id},
		success: function(data) {
			showComt(<{$pageCore->currentPage}>);
		}
	});
}
function delReply(id) {
	if (!confirm('确定要删除吗？')) {
		return;
	}
	if (!id) {
		alert('请选择要删除的数据');
		return;
	}
	$.ajax({
		url: '__AJAX__/reply/del?stmp=' + new Date().toString(),
		type: 'post',
		data: {ids:id},
		success: function(data) {
			showComt(<{$pageCore->currentPage}>);
		}
	});
}
</script>